<% provide(:title, 'Trainer') %>
<h1><%= @trainer.name%>
    <% if admin?(current_user)%>
 <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "cursor: pointer; font-size:25px;"></span>'.html_safe,  :controller => "trainer", :action => "edit", :param => @trainer, :method => "get" %>
 <%end %>
 </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p> Name: <%= @trainer.name%> </p>
    <p> Person of Contact: <%= @trainer.person_contact%> </p>
    <p> Email: <%=@trainer.email%> </p>
    <p> Address: <%=@full_address%> </p>
    <p> Phone Number: <%= @trainer.phone_number%> </p>
    <p> Comments: <%= @trainer.comments%> </p>

    </div>
</div>
