 <% provide(:title, 'New Vet') %>
<h1>Add new veterinarian</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new_vet">
    <%= form_for(@vet, html: { multipart: true },  url: veterinarian_path(@vet)) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control required' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <%= f.label :person_contact, "Person of Contact" %>
      <%= f.text_field :person_contact, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :credit_card , "Credit Card on File" %>
      <%= f.check_box :credit_card, class: 'form-control' %>

      <%= f.label :comments %>
      <%= f.text_field :comments, class: 'form-control' %>

      <%= f.submit "Add Vet Info", class: "btn btn-primary submit-btn" %>
    <% end %>
    </div>
</div>

<script>

$('.submit-btn').on('click', function(e){
        if (!validateForm($(this).closest(".new_vet")[0]))
            e.preventDefault()
        
})
</script>

