<% provide(:title, 'Veterinarian') %>
<h1><%= @vet.name%>
    <% if admin?(current_user)%>
 <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "cursor: pointer; font-size:25px;"></span>'.html_safe,  :controller => "veterinarian", :action => "edit", :param => @vet, :method => "get" %>
 <%end %>
 </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<p> Name: <%= @vet.name%> </p>
    <p> Person of Contact: <%= @vet.person_contact%> </p>
	<p> Email: <%=@vet.email%> </p>
	<p> Address: <%=@full_address%> </p>
    <p> Phone Number: <%= @vet.phone_number%> </p>
    <p> Comments: <%= @vet.comments%> </p>

    <%if @vet.credit_card == false %>
        <p> No Credit Card on File</p> 
    <% else %>
        <p> Credit Card on File </p> 
    <% end %> 

    </div>
</div>
