 <% provide(:title, 'New Non User') %>
<h1>Add new non user</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new_non">

    <%= form_for(@non_user, html: { multipart: true },  url: non_user_path(@non_user)) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control required' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :comments %>
      <%= f.text_field :comments, class: 'form-control' %>

      <%= f.label :home_comm , "Home Comments"%>
      <%= f.text_area :home_comm, class: 'form-control' %>

      <%= f.label :homecheck %>
      <%= f.check_box :homecheck, class: 'form-control' %>

      <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-warning btn-file">
                <%= label_tag "Homecheck Document" %>
                <%= f.file_field :nonuser_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
        </div>

      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.submit "Create my account", class: "btn btn-primary submit-btn" %>
    <% end %>
    </div>
</div>

<script>
  
$('.submit-btn').on('click', function(e){
        if (!validateForm($(this).closest(".new_non")[0]))
            e.preventDefault()
        
})
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 
</script>
