<h1>iShelter</h1>

<p>Hi <%= @user.name %>,</p>

<p>You have been assigned a new alert. </p>

<%= @alert.title %>
<br>
<% if (@alert.location != nil) %>
<p>Location:  <%= @alert.location %>
<% end %> 

<p>This alert is scheduled for <%= @alert.date %></p>

<% if(@alert.required == "1") %>
<p> Once the alert has been completed, click on the button below</p>

<a  href = '<%= edit_alert_completion_url(id: @alert.id)%>'><img src="/images/SubmitComplete.png" alt="Activate" ></a>

<% end %> 

<%= @alert.description %>
