<bold><italic> Dear <%= @user.name %> </italic> </bold> 

<p>An alert you are assigned to is overdue.</p>
<p>You will keep receiving emails until it has been completed.</p>

Title: <%= @alert.title %>
<br>
<% if (@alert.location != nil) %>
<p>Location:  <%= @alert.location %>
<% end %> 

<p>This alert is scheduled for <%= @alert.date %></p>


<p>Description: </p>
<p>
<%= @alert.description %>
</p>



<% if(( @alert.required == "1" || @alert.required == "true" || @alert.required == true) && (@alert.completed == "0"  || @alert.completed == false || @alert.completed == "false"))  %>
<p> Once the alert has been completed, click on the button below</p>

<a  href = '<%= edit_alert_completion_url(id: @alert.id)%>'><img src="https://s3.amazonaws.com/releashatlanta/uploads/non_user/picture/1/SubmitComplete.png" alt="Activate" ></a>

<% end %> 
