<% provide(:title, "People") %>

<div class="bg-page">
  <h2 class= "pg-title">People List</h2>
  <!-- BUTTONS TO ADD USERS -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Add new User <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
    <% if admin?(current_user) %>
      <li><%= link_to "Add User".html_safe,  :controller => "people", :action => "new", :method => "get" %></li>
      <li><%= link_to "Add Non User".html_safe,  :controller => "non_user", :action => "new", :method => "get" %></li>
      <li><%= link_to "Add Trainer".html_safe,  :controller => "trainer", :action => "new", :method => "get" %></li>
      <li><%= link_to "Add Veterinarian".html_safe,  :controller => "veterinarian", :action => "new", :method => "get" %></li>  
      <li><%= link_to "Add Animal Facility".html_safe,  :controller => "animal_facility", :action => "new", :method => "get" %></li>  
    <% end %>
    </ul>
  </div>

  <!-- TAB NAV LINKS-->
  <ul class="nav nav-tabs-unstyled nav-justified">
      <li class="active"><a href="#user" data-toggle="tab">Users</a></li>
      <li><a href="#non_user" data-toggle="tab">Non Users</a></li>
      <li><a href="#trainer" data-toggle="tab">Trainers</a></li>
      <li><a href="#vet" data-toggle="tab">Veterinarian</a></li>
      <li><a href="#animal_fac" data-toggle="tab">Animal Facilities</a></li>
  </ul>


  <!-- TAB CONTENT -->
  <div class="tab-content">
    
    <!-- USER TAB CONENT -->
    <div class="tab-pane active" id="user">
      <table id = "people-table" class="table table-bordered table-inverse table-hover people-table">
        <thead>
          <tr>
            <th class= "col-md-1">#</th>
            <th class= "col-md-1">Pic</th>
            <th class= "col-md-3">Name</th>
            <th class= "col-md-3">Role</th>
          </tr>
        </thead>
        <tbody>
          <% @allPeople.each_with_index do |a, index| %>
             <tr style = "height: 70px;" >
                <th scope="row"><%= index %></th>
                <td>
                 <%= display_avatar(a, "50x50") %>

                  </td>

                <td> 
                    <%= link_to a.name,  :controller => "people", :action => "profile", :param => a, :method => "get" %>

                  <% if admin?(current_user) %>
                   <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "display:none; cursor: pointer;"></span>'.html_safe,  :controller => "people", :action => "edit", :param => a, :method => "get" %>
                   <% end %>
               </td>
                <td> <%= a.role.title %> </td>
                
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- NONUSER TAB CONTENT -->
    <div class="tab-pane" id="non_user">
      <table id = "user-table" class="table table-bordered table-inverse table-hover user-table">
        <thead>
          <tr>
            <th class= "col-md-1">#</th>
            <th class= "col-md-1">Pic</th>
            <th class= "col-md-3">Name</th>
          </tr>
        </thead>
        <tbody>
          <% @allNonUser.each_with_index do |a, index| %>
             <tr style = "height: 70px;" >
                <th scope="row"><%= index %></th>
                <td>
                 <%= display_avatar(a, "50x50") %>
                </td>

                <td> 
                    <%= link_to a.name,  :controller => "non_user", :action => "profile", :param => a, :method => "get" %>

                  <% if admin?(current_user) %>
                   <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "display:none; cursor: pointer;"></span>'.html_safe,  :controller => "non_user", :action => "edit", :param => a, :method => "get" %>
                   <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- TRAINER TAB CONTENT -->
    <div class="tab-pane" id="trainer">
      <table id = "user-table" class="table table-bordered table-inverse table-hover user-table">
        <thead>
          <tr>
            <th class= "col-md-1">Name</th>
            <th class= "col-md-2">Person of Contact</th>
            <th class= "col-md-3">Address</th>
            <th class= "col-md-1">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% @allTrainer.each_with_index do |a, index| %>
             <tr style = "height: 70px;" >
                <td> 
                    <%= link_to a.name,  :controller => "trainer", :action => "profile", :param => a, :method => "get" %>

                  <% if admin?(current_user) %>
                   <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "display:none; cursor: pointer;"></span>'.html_safe,  :controller => "trainer", :action => "edit", :param => a, :method => "get" %>
                   <% end %>
                </td>
                <td><%= a.person_contact%></td>
                <td>
                  <% if a.address != nil and a.city != nil and a.state != nil and a.zip_code !=nil%>
                    <%= a.address.to_s + " " + a.city.to_s + " " + a.state.to_s + " " + a.zip_code.to_s%>
                  <% end %>
                </td>
                <td><%= a.phone_number%></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <!-- VET TAB CONTENT -->
    <div class="tab-pane" id="vet">
      <table id = "user-table" class="table table-bordered table-inverse table-hover user-table">
        <thead>
          <tr>
            <th class= "col-md-3">Name</th>
            <th class= "col-md-2">Person of Contact</th>
            <th class= "col-md-3">Address</th>
            <th class= "col-md-1">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% @allVets.each do |a| %>
             <tr style = "height: 70px;" >
                <td> 
                    <%= link_to a.name,  :controller => "veterinarian", :action => "profile", :param => a, :method => "get" %>

                  <% if admin?(current_user) %>
                   <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "display:none; cursor: pointer;"></span>'.html_safe,  :controller => "veterinarian", :action => "edit", :param => a, :method => "get" %>
                   <% end %>
                </td>
                <td><%= a.person_contact%></td>
                <td>
                  <% if a.address != nil and a.city != nil and a.state != nil and a.zip_code !=nil%>
                    <%= a.address.to_s + " " + a.city.to_s + " " + a.state.to_s + " " + a.zip_code.to_s%>
                  <% end %>
                </td>
                <td><%= a.phone_number%></td>
              </tr>

          <% end %>
        </tbody>
      </table>
    </div>
    <!--- ANIMAL FACILITY-->
    <div class="tab-pane" id="animal_fac">
      <table id = "user-table" class="table table-bordered table-inverse table-hover user-table">
        <thead>
          <tr>
            <th class= "col-md-1">Name</th>
            <th class= "col-md-2">Address</th>
            <th class= "col-md-1">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% @allAniFaci.each_with_index do |a, index| %>
             <tr style = "height: 70px;">
                <td> 
                    <%= link_to a.name,  :controller => "animal_facility", :action => "profile", :param => a, :method => "get" %>

                  <% if admin?(current_user) %>
                   <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "display:none; cursor: pointer;"></span>'.html_safe,  :controller => "animal_facility", :action => "edit", :param => a, :method => "get" %>
                   <% end %>
                </td>
                <td>
                  <% if a.address != nil and a.city != nil and a.state != nil and a.zip_code !=nil%>
                    <%= a.address.to_s + " " + a.city.to_s + " " + a.state.to_s + " " + a.zip_code.to_s%>
                  <% end %>
                </td>
                <td><%= a.phone_number%></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>

$("#people-table tr").hover(
  function(){
    $(this).find(".glyphicon-pencil").show()
  },
  function(){
    $(this).find(".glyphicon-pencil").hide()
  }
)
</script>

<script>
$("#user-table tr").hover(
  function(){
    $(this).find(".glyphicon-pencil").show()
  },
  function(){
    $(this).find(".glyphicon-pencil").hide()
  }
)
</script>

