<% provide(:title, 'New Employee') %>
<h1><%= @employee.email%>
    <% if admin?(current_user) || @employee.id == current_user.id %>
 <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "cursor: pointer; font-size:25px;"></span>'.html_safe,  :controller => "people", :action => "edit", :param => @employee, :method => "get" %>
 <%end %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- form for submitting employees. 
    submits to /people path. that can be found in routes. 
    passes in @employee that is defined by the form
    thats what :name, :email,  etc is for 

  --> 
          <%= display_avatar(@employee, "150x150") %>
        	<p> Name: <%= @employee.name%> </p>
        	<p> Email: <%=@employee.email%> </p>
        	<p> Address: <%=@full_address%> </p>

        	<%if @foster_ok == false %>
                  <p> Approved Foster:  No </p> 
                <% else %>
                  <p> Approved Foster:  Yes </p> 
            <% end %> 
            <%if @adopt_ok == false %>
                  <p> Approved Adoption:  No </p> 
                <% else %>
                  <p> Approved Adoption:  Yes </p> 
            <% end %> 

    </div>
</div>


</script>