<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(new_app, remote: remote, url: url_for(action: 'new', controller: 'animal_application', method: 'get'))      do |f| %>

    <%= f.hidden_field :animal_id, value: animal_id%>
 
    <%= f.label :app_date, "Application Date" %>
    <%= f.text_field :app_date, class: 'datepicker' %>

    <%= f.label :app_adopter, "Select Applicant"%>
    <%=collection_select(:app_adopter, :adopt_id, adopters, :email, :name, {:prompt => "Select Adopter"}) %>

    <!-- Inputing Details-->
    <%= f.label :comments, "Comments" %>
    <%= f.text_area(:comments, cols: 40, rows: 15)%>

    <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-warning btn-file">
                <%= label_tag "Application" %>
                <%= f.file_field :adoption_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<script>
  $('.datepicker').datepicker({
    endDate: '-0d'
  });

  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 
</script>