<tr>
  <td><%= intake["date"]%></td>
  <td><%= intake["status"] %></td>
  <td><%= intake["sub_status"] %></td>
  <td><%= intake["location"] %></td>
  <td><%= link_to 'Show', intake %></td>
  <td><%= link_to 'Edit', edit_intake_path(person) %></td>
  <td><%= link_to 'Destroy', intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>