<!-- This is the page to edit an animal -->
<h2 class= "pg-title">Editing <%= @animal.name %></h2>


<style>
.upload-wrapper{padding-bottom: 15px}

.select-item{
  border:solid;
  border-width: 1px;
  padding:3px;
  border-radius:5px;

  margin:4px;

}
.breed-item{
  border:solid;
  border-width: 1px;
  padding:3px;
  border-radius:5px;

  margin:4px;
  width: 100%;
}
.remove-item{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.remove-breed{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
</style>

<div class= "nav-form-container col-md-12">

<!-- Nav Bar Content -->
<div class="form-nav col-md-2">
  <!-- Personal info tab -->
  <div class="card form-div personal col-md-12">
    <a class="card-header personal-header" data-toggle="collapse show" href="#personal-body">
      <div style="background: white;">
        <h4>Characteristics</h4>
      </div>
    </a>
  </div>

  <div class= "card form-div personal col-md-12">
    <a class= "card-header paper-header" data-toggle="collapse" href="#paper-body">
      <div>
        <h4>Paperwork</h4>
      </div>
    </a>
  </div>

  <div class="form-div tracking col-md-12">
    <a class= "card-header tracking-header" data-toggle="collapse" href="#tracking-body">
      <div>
        <h4>Tracking</h4>
      </div>
    </a>
  </div>

  <div class="form-div alerts col-md-12">
    <a class= "card-header alert-header" data-toggle="collapse" href="#alerts-body">
      <div>
       <h4>Alerts</h4>
      </div>
    </a>
  </div>
</div>

  <!-- Inner form Content -->

  <div class="form col-md-10">
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
      
      <!-- Personal Inner Div -->
      <div id ="personal-body" class="collapse show inner-formdiv">
        
        <div class="bsc-chracteristics col-md-6">
          <!--Basic Characteristics Header -->
          <a class= "card-header pers-header" data-toggle="collapse" href="#characteristics-body">
            <div>
              <h4> Basic Chacteristics</h4>
            </div>
          </a>

          <!--Basic Characteristics Body -->
          <div id = "characteristics-body" class="collapse show col-md-12">
            <!-- Profile Picture -->
            <div class="picture col-md-6">
              <%= f.label :picture %>
              <div id="pic-preview">
              <img id="profilepic" src=<%= @animal.picture %> alt="Dog Image"  width = "150px" height = "200px" style = "display:block" />  
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file-upload profile-file' %>
              </div>
            </div>

            <!-- Basic Characteristics -->
            <div class="characteristics-info col-md-6">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :primary_breed_id %>
              <%= f.collection_select :primary_breed_id, @breed, :id, :name, :prompt => "Select Breed" %>

              <%= label :post, "Additional Breeds" %>
              <%= collection_select(:breed_id, 0, @breed, :id, :name, {:prompt => "Select Breed"}, {class: "breed-selecter"}) %>              
              <div id = "breeds-list">
                <% @breeds.each do |b| %>
                <div id = 'breed-<%= b.breed.id %>'   class = 'breed-item' style = 'position: relative; display: inline-block;'>
                  <p style = 'margin:0px; padding-right:15px'> <%= b.breed.name %> </p> 
                  <span class = 'glyphicon glyphicon-remove remove-breed' style='margin:2px; float:right;'></span>
                </div>

                <% end %>
              </div>
             <%= text_field_tag 'breeds', "", class: "hidden-breeds", style: "display:none;"  %>

           
              <%= f.label :date_of_birth %>
              <%= f.text_field :birthday, class: 'datepicker' %>

              <%= f.label :microchip_number , "Microchip #"%>
              <%= f.text_field :microchip_number, class: 'form-control' %>

              <%= f.label :status %>
              <%= f.collection_select :status_id, @status, :id, :name, {:prompt => "Select Status"} , class: 'form-control' %>
              
              <%= f.label :sub_status %>
              <%= f.collection_select :sub_status_id, @sub_status, :id, :name, {:prompt => "Select Current SubStatus"}, class: 'form-control'%>
              
              <%= f.label :marketing %>
              <%= f.collection_select :marketing_id, @marketing, :id, :name, {:prompt => "Select Current Marketing"}, class: 'required' %>
            </div>
          </div>
        </div>

        <div class = "phy-med-frame col-md-6">
          <div class = "phys-features col-md-12">
            <!-- Physical Features -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#phys-feat">
              <div>
                <h4>Physical Features</h4>
              </div>
            </a>

            <div id="phys-feat" class="collapse col-md-12">
              <%= f.label :gender %>
              <%= f.select :gender, [ 'Male','Female'], :prompt => 'Select Gender' %>    

              <%= f.label :color_primary %>
              <%= f.text_field :color_primary, class: 'form-control' %>

              <%= f.label :color_secondary %>
              <%= f.text_field :color_secondary, class: 'form-control' %>             
            </div>
          </div>

           <div class = "med col-md-12">
            <!-- Personality -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#pers-body">
              <div>
                <h4>Personality</h4>
              </div>
            </a>

            <div id="pers-body" class="collapse col-md-12">
              <%= label :post, "behavior" %>
              <%= collection_select(:behavior_id, 0, @behavior, :id, :name, {:prompt => "Select behavior"}, {class: "behavior-selecter"}) %>              
              <div id = "behavior-list">
                <% @behaviors.each do |b| %>
                <div id = 'behavior-<%= b.characteristic.id %>'   class = 'select-item behavior-item' style = 'position: relative; display: inline-block;'>
                  <p style = 'margin:0px; padding-right:15px'> <%= b.characteristic.name %> </p> 
                  <span class = 'glyphicon glyphicon-remove remove-item remove-behavior' style='margin:2px; float:right;'></span>
                </div>

                <% end %>
              </div>


              <%= text_field_tag 'behavior', "", class: "hidden-behavior", style: "display:none;"  %>

             


            </div>
          </div>


        </div>
      </div>


      <!-- Paperwork -->
      <div id="paper-body" class="collapse inner-formdiv">
        <div id="upload-buttons" style="padding-top: 15px">

        <div class = "upload-wrapper">
            <span class="btn btn-large btn-warning btn-file">
                <%= label_tag "Vetting Document" %>
                <%= f.file_field :vetting_document, class: 'file-upload' %>
            </span>
            <span class = "file-name">
              <% if @animal.vetting_document.length > 0 %>
                <%= @animal.vetting_document.file.filename %> 
              <% end %>
            </span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"> </span>
        </div>

        <div class = "upload-wrapper">
            <span class="btn btn-large btn-primary btn-file">
                <%= label_tag "Intake Document" %>
                <%= f.file_field :intake_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"> 
               <% if @animal.intake_document.length > 0 %>
              <%= @animal.intake_document.file.filename %> 
              <% end %>
            </span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
         </div>

         <div class = "upload-wrapper">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Owner Surrender" %>
                <%= f.file_field  :owner_surrender_document, class: 'file-upload' %>
            </span>
            <span class = "file-name">
              <% if @animal.owner_surrender_document.length > 0 %>
                <%= @animal.owner_surrender_document.file.filename %> 
              <% end %>
            </span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Home Check" %>
              <%= f.file_field  :home_check_document, class: 'file-upload' %>
          </span>
          <span class = "file-name">
              <% if @animal.home_check_document.length > 0 %>
                <%= @animal.home_check_document.file.filename %> 
              <% end %>
            </span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Match Application" %>
              <%= f.file_field  :match_application_document, class: 'file-upload' %>
          </span>
          <span class = "file-name">
              <% if @animal.match_application_document.length > 0 %>
                <%= @animal.match_application_document.file.filename %> 
              <% end %>
            </span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Adoption Application" %>
              <%= f.file_field  :adoption_application_document, class: 'file-upload' %>
          </span>
          <span class = "file-name">
            <% if @animal.adoption_application_document.length > 0 %>
              <%= @animal.adoption_application_document.file.filename %> 
              <% end %></span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Adoption Contract" %>
              <%= f.file_field  :adoption_contract_document, class: 'file-upload' %>
          </span>
          <span class = "file-name">
              <% if @animal.adoption_contract_document.length > 0 %>
                <%= @animal.adoption_contract_document.file.filename %> 
              <% end %>
            </span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        </div>
      </div>

      <!-- TRACKING BODY -->
      <div id="tracking-body" class="collapse in inner-formdiv">


    
        <!--========== BEGIN TRACKING TABS =========-->
        <div id= "trackingInner-div" class="col-md-12">
          
          <div id="status-tabs" class="trackingInner-div1 col-md-12">
            <!-- Tab headers for each status -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="#intake" data-toggle="tab">Intake</a></li>
              <li role="presentation"><a href="#vetting" data-toggle="tab">Vetting</a></li>
              <li role="presentation"><a href="#foster" data-toggle="tab">Foster</a></li>
              <li role="presentation"><a href="#training" data-toggle="tab">Training</a></li>
              <li role="presentation"><a href="#adopted" data-toggle="tab">Adopted</a></li>
              <li role="presentation"><a href="#other" data-toggle="tab">Other</a></li>
            </ul>

            <!-- Information for Statuses in Tabs-->
            <div class="status-tabsInner tab-content">
              
              <!-- INTAKE -->
              <div id = "intake" role="tabpanel" class="tab-pane fade in col-sm-12">
                
                <div id = "intake-content" class="col-md-10">
                  <!-- Selecting Date-->
                  <%= f.label :intake_date, "Intake Date" %>
                  <%= text_field_tag 'intake_dt', @intake_date ,class: 'datepicker' %>
                  
                  <%= f.label :intake_sub, "Sub Status"%>
                  <%= collection_select(:intake_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status", :selected => @intake_subs}) %>

                  <!-- Selecting Foster-->
                  <%= f.label :intake_fost, "Foster"%>
                  <%=collection_select(:intake_fost, :foster_id, @fosters, :email, :name, {:prompt => "Select foster" ,:selected => @intake_foster}) %>
                  
                  <!-- Selecting Vets-->
                  <%= f.label :intake_vet, "Veterinarian"%>
                  <%= collection_select(:intake_vet, :veterinarian_id, Veterinarian.all, :id, :name, {:prompt => "Select Current Veterinarian", :selected => @intake_vets}) %>

                  <!-- Selecting Previous Location-->
                  <%= f.label :intake_prev, "Previous Location"%>
                  <%= collection_select(:intake_prev, :animal_facility_id, AnimalFacility.all, :id, :name, {:prompt => "Select Previous Location", :selected => @intake_prevs}) %>

                  <!-- Inputing Details-->
                  <%= f.label :intake_comm, "Details" %>
                  <%= text_field_tag 'intake_cm', @intake_comm, class: 'form-control' %>
                </div>

                <!--========== INTAKE NEW ENTRY MODAL =========-->
                <div class="intake_entry_modal col-sm-2">
                  <!-- Button trigger modal -->
                  <button type="button" id="intake_entry_btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#intakeEntryModal">
                    New Intake Entry
                  </button>

                  <!-- Modal -->
                  <div class="modal entry-modal fade" id="intakeEntryModal" tabindex="-1" role="dialog" aria-labelledby="intakeEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Create New Intake Entry</h4>
                        </div>
                        <div class="modal-body">
                          <!-- Selecting Date-->
                          <%= f.label :intake_date_modal, "Intake Date" %>
                          <%= text_field_tag 'intake_dt_modal', "" ,class: 'datepicker' %>
                          
                          <%= f.label :intake_sub_modal, "Sub Status"%>
                          <%= collection_select(:intake_sub_modal, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>

                          <!-- Selecting Foster-->
                          <%= f.label :intake_fost_modal, "Foster"%>
                          <%= collection_select(:intake_fost_modal, :foster_id, @fosters, :email, :name, {:prompt => "Select foster"}) %>
                          
                          <!-- Selecting Vets-->
                          <%= f.label :intake_vet_modal, "Veterinarian"%>
                          <%= collection_select(:intake_vet_modal, :veterinarian_id, Veterinarian.all, :id, :name, {:prompt => "Select Current Veterinarian"}) %>

                          <!-- Selecting Previous Location-->
                          <%= f.label :intake_prev_modal, "Previous Location"%>
                          <%= collection_select(:intake_prev_modal, :animal_facility_id, AnimalFacility.all, :id, :name, {:prompt => "Select Previous Location"}) %>

                          <!-- Inputing Details-->
                          <%= f.label :intake_comm_modal, "Details" %>
                          <%= text_field_tag 'intake_cm_modal', "", class: 'form-control' %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                          <button type="button"  id="intake-entry-savebtn" class="btn btn-primary enry-savebtn">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <!--========== END INTAKE NEW ENTRY MODAL =========-->
              </div> 


              <!-- VETTING -->
              <div id="vetting" role="tabpanel" class="tab-pane">
                  <%= f.label :vetting_date %>
                  <%= text_field_tag 'vet_dt', "" ,class: 'datepicker' %>
                  
                  <%= f.label :vet_sub, "Sub Status"%>
                  <%#= collection_select(:vet_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>

                  <!-- Selecting Vets-->
                  <%= f.label :vet_vet, "Veterinarian"%>
                  <%= collection_select(:vet_vet, :veterinarian_id, Veterinarian.all, :id, :name, {:prompt => "Select Current Veterinarian"}) %>
                  
                  
                  <!-- Inputing Details-->
                  <%= f.label :vet_comm, "Details" %>
                  <%= text_field_tag 'vet_cm', "", class: 'form-control' %>

              </div>
              
              <!-- FOSTER -->
              <div id="foster" role="tabpanel" class="tab-pane">
                <%= f.label :foster_date %>
                <%= text_field_tag 'foster_dt', "" ,class: 'datepicker' %>

                <%= f.label :fost_sub, "Sub Status"%>
                <%#= collection_select(:fost_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>

                <%= f.label :fost_fost, "Foster"%>
                <%#= collection_select(:fost_fost, :foster_id, @fosters, :email, :name, {:prompt => "Select foster"}) %>
                
                <%= f.label :homecheck, "Home Check Completed"%>
                <%= check_box_tag 'foster_check', value = "1"%>

                <!-- Selecting Vet-->
                <%= f.label :fost_vet, "Veterinarian"%>
                <%= collection_select(:fost_vet, :veterinarian_id, Veterinarian.all, :id, :name, {:prompt => "Select Current Veterinarian"}) %>

                <%= f.label :fost_comm, "Details" %>
                <%= text_field_tag 'fost_cm', "", class: 'form-control' %>
              </div>
              
              <!-- TRAINING -->
              <div id="training" role="tabpanel" class="tab-pane">
                <%= f.label :training_date %>
                <%= text_field_tag 'training_dt', "" ,class: 'datepicker' %>

                <%= f.label :training_sub, "Sub Status"%>
                <%#= collection_select(:training_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>

                <%= f.label :train_comm, "Problem Information" %>
                <%= text_field_tag 'training_cm', "", class: 'form-control' %> 

                 <!-- Selecting Training-->
                <%= f.label :trainer_train, "Trainer Location"%>
                <%= collection_select(:trainer_train, :trainer_id, Trainer.all, :id, :name, {:prompt => "Select Trainer"}) %>   
              </div>
              

              <!-- ADOPTED -->
              <div id="adopted" role="tabpanel" class="tab-pane">
                <%= f.label :adopted_date %>
                <%= text_field_tag 'adopted_dt', "" ,class: 'datepicker' %>
                
                <%= f.label :adopt_sub, "Sub Status"%>
                <%= collection_select(:adopt_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>

                <!-- Selecting Adopter-->
                <%= f.label :adopt_adopter, "Adopter"%>
                <%#= collection_select(:adopt_adopter, :adopter_id, @adopters, :email, :name, {:prompt => "Select Adopter"}) %>

                <%= f.label :adopt_comm, "Comments" %>
                <%= text_field_tag 'adopt_cm', "", class: 'form-control' %>
              
              </div>

              <!-- OTHER -->
              <div id="other" role="tabpanel" class="tab-pane">
                <%= f.label :other_date%>
                <%= text_field_tag 'other_dt', "", class: 'datepicker' %>

                <%= f.label :other_name, "Other Status Name" %>
                <%= text_field_tag 'other_nm', "", class: 'form-control' %>

                <%= f.label :other_sub, "Sub Status"%>
                <%= collection_select(:other_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>
                
                <%= f.label :other_comm, "Comments" %>
                <%= text_field_tag 'other_cm', "", class: 'form-control' %>
              
              </div>

            </div>
          </div>
          <!--========== END TRACKING TABS =========-->
      </div>
    </div>

      <!-- Alerts -->
      <div id="alerts-body" class="collapse inner-formdiv">
          <p> Functions for Alerts</p>
      </div>
    
      <!-- Can i move this? -->
      <%= f.submit "Submit Edit", class: "add-btn btn-primary" %>
    <% end %>
  </div>
</div>  
</div> <!-- If this is not there there is a line across the screen. Not sure why - J -->


<script>
  //Tracking modal save
  $('#intake-entry-savebtn').click(function() {
    $('.modal').modal('hide');
    //Take information stored in modal and save
    //$('intake_cm').html();
    var value = $('.animal.name').val();
    var show = $('h1').html(value);

    //insert information into newly created div & display div in edit
    $("#intake-content").append('<div>' + show + '</div>');
    
  });



  $("#animal_species_id").change(function(){
    console.log($("#animal_breed_id"))
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed_id option:eq(1)").hide();
      $("#animal_breed_id option:eq(0)").show();
    } else {
      $("#animal_breed_id option:eq(0)").hide();
      $("#animal_breed_id option:eq(1)").show();

    }
  });


  $('.datepicker').datepicker({
    endDate: '-0d'
  });

  $(".profile-file").change(function(input) { 
    input = input.target
    if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilepic')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
                $('#profilepic').show()
            };

            reader.readAsDataURL(input.files[0]);

        }
  }); 
  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 
  $(".remove-file").on('click', function(){
        var container =  $(this).closest(".upload-wrapper");

        nameSpan = container.find(".file-name");
        nameSpan.text("");

        var removeSpan = container.find(".remove-file");
        removeSpan.hide();

        var inputfield  = container.find(".file-upload");
        inputfield[0].value = "";

  });
  $(".breed-selecter").on("change", function(){
    var text = $(".breed-selecter option:selected").text();
    var val = $(".breed-selecter option:selected").val();
    if(text == "Select Breed"){
      return
    }
    html = $("#breeds-list").html();
    html += "<div id = 'breed-" + val + "'' class = 'breed-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-breed remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#breeds-list").html(html);
    $(".remove-breed").on("click", function(){
      $(this).closest(".breed-item").detach()
      setHiddenBreeds();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenBreeds();
  })
  function setHiddenBreeds(){
    str = ""
    $(".breed-item").each(function(){
      var id = this.id.split("-")[1]
      str += id + "|"
    })
    $(".hidden-breeds").val(str)
  }
  //do on start for existing ones
  setHiddenBreeds();
  $(".remove-breed").on("click", function(){
      $(this).closest(".breed-item").detach()
      setHiddenBreeds();
  })

  $(".remove-behavior").on("click", function(){
      $(this).closest(".behavior-item").detach()
      setHiddenBehavior();
  })
  
  function setHiddenBehavior(){
    str = ""
    $(".behavior-item").each(function(){
      var id = this.id.split("-")[1]
      str += id + "|"
    })
    $(".hidden-behavior").val(str)
  }
  setHiddenBehavior();
</script>