<!-- Inner form Content  Profile page-->
<div class= "col-xs-12 bg-page">
  <h2 class= "pg-title">Add New Animal</h2>
  <div class="form col-md-12">

    <div class="form-head">
      <!-- Basic Header -->
      <ul class="nav nav-justified">
        <li class="tab active" target="basics-body"><a href="#">Basic</a></li>
        <li class="tab"  target="paperwork-body"><a href="#" >Paperwork</a></li>
        <li class="tab" target="track-body"><a href="#" >Tracking</a></li>
        <li class="tab" target="note-body"><a href="#" >Notes</a></li>
      </ul>
    </div>

    <div class="form-body">

      <!-- Begin animal form -->
      <%= form_for(@animal, url: animals_path(@animal))  do |f| %>

      <!--===================== BASIC CHARACTERISTICS =======================-->

      <div id = "basics-body" class="collapse in col-md-12 inner-formdiv">
        
        <div class="info-wrapper col-md-12 col-md-offset-1">
          <!-- Profile Picture -->
          <div class="picture col-md-3">
            <%= f.label :picture %>
            <div id="pic-preview" style="padding: 5px">
              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
              <!-- alt="Dog Image"-->
            </div>

            <img id="profilepic" src="#" alt="Dog Image" style="display: none"/>
            <div class="col-xs-12 profile-btn btn btn-md btn-primary btn-file">
              <%= label_tag "Add Profile Image" %>
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file-upload profile-file' %>
            </div>
          </div>

          <!-- Characteristics Info -->
          <div class="characteristics-info col-md-6">


            <div class= "basics-inner">
              <!-- Physical Features -->
              <a class= "card-header basics-header" data-toggle="collapse" href="#basics-body">
                <div>
                  <h4 class="tab-inner-title">Characteristics</h4>
                </div>
              </a>

              <div id="basics-body" class="collapse in">
                <!-- Basics -->
                
                <%= f.label :name %>
                <%= f.text_field :name, class: 'required form-control' %>

                <%= f.label :date_of_birth %>
                <%= f.text_field :birthday, class: 'form-control datepicker required' %>

                <%= f.label :gender %>
                <%= f.select :gender, [ 'Male','Female'], {:prompt => 'Select Gender'}, class: "form-control" %>   

                <%= f.label :primary_breed_id, "Primary Breed" %>
                <%= f.collection_select(:primary_breed_id, @primary, :id, :name, {:prompt => "Select Breed"}, {class:"form-control required"} ) %>

                 <%= label :post, "Additional Breeds" %>
                <%= collection_select(:breed_id, 0, @secondary, :id, :name, {:prompt => "Select Breed"}, {class: "form-control breed-selecter"}) %>              
                <div id = "breeds-list"></div>
                <%= text_field_tag 'breeds', "", class: "hidden-breeds", style: "display:none;"  %>

                <%= f.label :color_primary %>
                <%= f.text_field :color_primary, class: 'form-control' %>

                <%= f.label :color_secondary %>
                <%= f.text_field :color_secondary, class: 'form-control' %> 

                <%= label :post, "behavior" %>
                
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Behavior
                  <span class="caret"></span></button>
                  
                  <ul class="dropdown-menu">
                    <% @behavior.each do |b| %>
                    <li  class = "behavior-dd-item" id = "behavior-dd-<%= b.id %>"><a href="#" class= "behavior-dd-item" value = '<%= b.id %>'> <%= b.name %></a>  </li> 
                    <% end %>
                  </ul>
                </div>
                <div id = "behavior-list"></div>
                <%= text_field_tag 'behavior', "", class: "hidden-behavior", style: "display:none;"  %>
                <br>
              </div>

            </div>
          </div>
        </div>
      </div>

      
      <!--===================== PAPERWORK =======================-->

      <div id="paperwork-body" class="collapse in inner-formdiv" style="display:none">

        <div class="table-wrapper">
          <table class="table table-striped">
            <thead class="table-head">
              <tr>
                <th>Document Type</th>
                <th>Attached File</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="upload-wrapper">
                <td>Vetting</td>
                <td>
                  <span class = "file-name"></span>
                  <span class = "glyphicon glyphicon-remove remove-file" style = "display:none; width: 30px; height 30px;"></span>
                </td>
                <td>
                  <span class="btn btn-large btn-primary btn-file">
                      <%= label_tag "Vetting Document" %>
                      <%= f.file_field :vetting_document, class: 'file-upload'%>
                    </span>
                </td>
              </tr>
              
              <tr class="upload-wrapper">
                <td>Intake</td>
                <td>
                  <span class = "file-name"></span>
                  <span class = "glyphicon glyphicon-remove remove-file" style = "display:none; width: 30px; height 30px;"></span>
                </td>
                <td>
                  <span class="btn btn-large btn-primary btn-file">
                    <%= label_tag "Intake Document" %>
                    <%= f.file_field :intake_document, class: 'file-upload' %>
                  </span>
                </td>
              </tr>
              <tr class="upload-wrapper">
                <td>Owner Surrender</td>
                <td>
                  <span class = "file-name"></span>
                  <span class = "glyphicon glyphicon-remove remove-file" style = "display:none; width: 30px; height 30px;"></span>
                </td>
                <td>
                  <span class="btn btn-large btn-primary btn-file">
                    <%= label_tag "Owner Surrender" %>
                    <%= f.file_field  :owner_surrender_document, class: 'file-upload' %>
                  </span>
                </td>
              </tr>
              <tr class="upload-wrapper">
                <td>Match Application</td>
                <td>
                  <span class = "file-name"></span>
                  <span class = "glyphicon glyphicon-remove remove-file" style = "display:none; width: 30px; height 30px;"></span>
                </td>
                <td>
                  <span class="btn btn-large btn-primary btn-file">
                    <%= label_tag "Match Application" %>
                    <%= f.file_field  :match_application_document, class: 'file-upload' %>
                  </span>
                </td>
              </tr>
              <tr class="upload-wrapper">
                <td>Adoption Contract</td>
                <td>
                  <span class = "file-name"></span>
                  <span class = "glyphicon glyphicon-remove remove-file" style = "display:none; width: 30px; height 30px;"></span>
                </td>
                <td>
                  <span class="btn btn-large btn-primary btn-file">
                    <%= label_tag "Adoption Contract" %>
                    <%= f.file_field  :adoption_contract_document, class: 'file-upload' %>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!--===================== TRACKING =======================-->
      
      <div id="track-body" class="collapse inner-formdiv" style="display:none">

        <div class= "track-inner col-md-6 col-md-offset-3">
          <!-- Physical Features -->
          <a class= "card-header basics-header" data-toggle="collapse" href="#basics-track-body">
            <div>
              <h4 class="tab-inner-title">Tracking</h4>
            </div>
          </a>

          <div id="basics-track-body" class="collapse in">
            <!-- Tracking -->
            <%= f.label :input_date %>
            <%= f.text_field :input_date, class: 'form-control datepicker' %>

            <%= f.label :microchip_number , "Microchip #"%>
            <%= f.text_field :microchip_number, class: 'form-control' %>

            <%= f.label :coordinator, "Assigned Coordinator"%>
            <%= f.collection_select :coordinator_id, @coordinators, :id, :name, {:prompt => "Select Coordinator"}, class: 'form-control required' %>

            <%= f.label :status %>
            <%= f.collection_select :status_id, @status, :id, :name, {:prompt => "Select Status"}, class: 'form-control required' %> 
            
            <%= f.label :sub_status %>
            <%= f.collection_select :sub_status_id, @sub_status, :id, :name, {:prompt => "Select SubStatus"}, class: "form-control"%> 

            <%= f.label :marketing %>
            <%= f.collection_select :marketing_id, @marketing, :id, :name, {:prompt => "Select Marketing Status"}, class: 'form-control required' %>
          </div>
        </div>

        <!-- BEGIN TRACKING TAB DIV -->
        <!-- <div id="status-div" class="tracking-innerDiv col-md-8"> -->

          <!-- Information for Statuses in Tabs-->
          <!-- <div class="status-tabsInner tab-content"> -->
            <!-- INTAKE -->
              <!-- Selecting Date-->
              <%#= f.label :intake_date, "Intake Date" %>
              <%#= text_field_tag 'intake_dt', "" ,class: 'form-control datepicker' %>
              
              <%#= f.label :intake_sub, "Sub Status"%>
              <%#= collection_select(:intake_sub, :sub_status_id, SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}) %>
              
              <!-- Selecting Prev Location-->
              <%#= f.label :intake_loc, "Previous Location"%>
              <%#= collection_select(:intake_loc, :intake_reason_id, IntakeReason.all, :id, :name, {:prompt => "Select Previous Location"}) %>

              <!-- Selecting Previous Location-->
              <%#= f.label :intake_prev, "Animal Facility"%>
              <%#= collection_select(:intake_prev, :animal_facility_id, AnimalFacility.all, :id, :name, {:prompt => "Select Animal Facility"}) %>

              <!-- Inputing Details-->
              <%#= f.label :intake_comm, "Details" %>
              <%#= text_field_tag 'intake_cm', "", class: 'form-control' %>
          <!-- </div> -->
        <!-- </div>  -->
        <!-- END TRACKING TAB DIV -->
      </div>

      <!--===================== NOTES =======================-->

      <div id="note-body" class="collapse inner-formdiv" style="display:none">
        <%= f.label :notes, "Type any notes below" %>
        <%= f.text_area(:notes, cols: 40, rows: 15)%>
      </div>
      <div class="col-xs-12 submit-div">
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.submit "Add animal", class: "main-btn submit-btn"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End Html -->
    
<script>
  $("#animal_species_id").change(function(){
    console.log($("#animal_breed_id"))
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed_id option:eq(1)").hide();
      $("#animal_breed_id option:eq(0)").show();
    } else {
      $("#animal_breed_id option:eq(0)").hide();
      $("#animal_breed_id option:eq(1)").show();
    }
    console.log("Hey I changed :)")
  });
  $('.submit-btn').on('click', function(e){
        if (!validateForm($(this).closest("form")[0]))
            e.preventDefault()
        
   })
  $('.datepicker').datetimepicker({
    //endDate: '+5y',
    format:'YYYY/MM/DD',
    
  });
  $(".profile-file").change(function(input) { 
    input = input.target
    if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profilepic')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
                $('#pic-preview').hide()  
                $('#profilepic').show()
            };
            reader.readAsDataURL(input.files[0]);
        }
  });
  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 
  $(".remove-file").on('click', function(){
        var container =  $(this).closest(".upload-wrapper");
        nameSpan = container.find(".file-name");
        nameSpan.text("");
        var removeSpan = container.find(".remove-file");
        removeSpan.hide();
        var inputfield  = container.find(".file-upload");
        inputfield[0].value = "";
  });
  $(".breed-selecter").on("change", function(e){
    var text = $(".breed-selecter option:selected").text();
    var val = $(".breed-selecter option:selected").val();
    if(text == "Select Breed"){
      return
    }
    html = $("#breeds-list").html();
    html += "<div id = 'breed-" + val + "'' class = 'breed-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-breed remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#breeds-list").html(html);
    $(".remove-breed").on("click", function(){
      $(this).closest(".breed-item").detach()
      setHiddenBreeds();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenBreeds();
  })
  function setHiddenBreeds(){
    str = ""
    $(".breed-item").each(function(){
      var id = this.id.split("-")[1]
      str += id + "|"
    })
    $(".hidden-breeds").val(str)
  }
  $(".behavior-dd-item").on("click", function(e){
    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Behavior"){
      return
    }
    html = $("#behavior-list").html();
    html += "<div id = 'behavior-" + val + "'' class = 'behavior-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-behavior remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#behavior-list").html(html);
    $(".remove-behavior").on("click", function(){
      $(this).closest(".behavior-item").detach()
      setHiddenBehavior();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenBehavior();
  })
  function setHiddenBehavior(){
    str = ""
    $(".behavior-dd-item").show();
    $(".behavior-item").each(function(){
      var id = this.id.split("-")[1]
      $("#behavior-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-behavior").val(str)
  }
  $(".tab").on('click', function(e){
    e.preventDefault();
    $(".active").removeClass("active");
    $(this).addClass("active");
    $(".inner-formdiv").hide();
    console.log("#" + $(this).attr("target"))
    $("#" + $(this).attr("target")).show();
  })
</script>