<!-- This is the page to add a new animal -->
<h2 class= "pg-title">Add a new Animal</h2>

<div class= "nav-form-container col-md-12">

  <!-- Nav Bar Content -->
  
  <div class="form-nav col-md-3">
    <!-- Personal info tab -->
    <div class="card form-div personal col-md-12">
      <a class="card-header personal-header" data-toggle="collapse" href="#personal-body">
        <div style="background: white;">
          <h4>Animal Characteristics</h4>
        </div>
      </a>
    </div>

    <div class= "card form-div personal col-md-12">
      <a class= "card-header paper-header" data-toggle="collapse" href="#paper-body">
        <div>
          <h4>Paperwork</h4>
        </div>
      </a>
    </div>

    <div class="form-div tracking col-md-12">
      <a class= "card-header doc-header" data-toggle="collapse" href="#tracking-body">
        <div>
          <h4>Tracking</h4>
        </div>
      </a>
    </div>

    <div class="form-div alerts col-md-12">
      <a class= "card-header alert-header" data-toggle="collapse" href="#alerts-body">
        <div>
         <h4>Alerts</h4>
        </div>
      </a>
    </div>

  </div>

  <!-- Inner form Content -->

  <div class="form col-md-9">
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
      
      <!-- Personal Inner Div -->
      <div id ="personal-body" class="collapse inner-formdiv">
        <a class= "card-header pers-header" data-toggle="collapse" href="#characteristics-body">
          <div>
            <h4>Chacteristics</h4>
          </div>
        </a>

        <div id = "characteristics-body" class="collapse">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :species_id %>
          <%= f.collection_select :species_id, @species,  :id, :kind, :prompt => "Select Species" %>

          <%= f.label :breed_id %>
          <%= f.collection_select :breed_id, @breed, :id, :name, :prompt => "Select Breed" %>
         
          <span class="picture">
            <%= f.label :picture %>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span>

          <%= f.label :gender %>
          <%= f.select :gender, [ 'Male','Female', 'Unknown'], :prompt => 'Select Gender' %>

          <%= f.label :color_primary %>
          <%= f.text_field :color_primary, class: 'form-control' %>

          <%= f.label :color_secondary %>
          <%= f.text_field :color_secondary, class: 'form-control' %>

          <%= f.label :eye_color %>
          <%= f.text_field :eye_color, class: 'form-control' %>

          <%= f.label :adoption_fee %>
          <%= f.text_field :adoption_fee, class: 'form-control' %>

          <%= f.label :animal_type %>
          <%= f.select :animal_type, [ 'Domestic' ], :prompt => 'Select Type' %>

          <%= f.label :birthday %>
          <%= f.text_field :birthday, class: 'datepicker' %>

          <%= f.label :cage_number, "Cage #" %>
          <%= f.text_field :cage_number, class: 'form-control' %>

          <%= f.label :microchip_number , "Microchip #"%>
          <%= f.text_field :microchip_number, class: 'form-control' %>

          <%= f.label :tag_number , "Tag #" %>
          <%= f.text_field :tag_number, class: 'form-control' %>

          <%= f.label :neutered , "Spayed/Neutered" %>
          <%= f.check_box :neutered, class: 'form-control' %>
      </div>

      <!-- Medical -->
      <a class= "card-header doc-header" data-toggle="collapse" href="#doc-body">
        <div>
          <h4>Medical</h4>
        </div>
       </a>

        <div id="doc-body" class="collapse">
          <%= f.label :cage_number, "Cage #" %>
          <%= f.text_field :cage_number, class: 'form-control' %>

          <%= f.label :microchip_number , "Microchip #"%>
          <%= f.text_field :microchip_number, class: 'form-control' %>

          <%= f.label :tag_number , "Tag #" %>
          <%= f.text_field :tag_number, class: 'form-control' %>

          <%= f.label :neutered , "Spayed/Neutered" %>
          <%= f.check_box :neutered, class: 'form-control' %>
        </div>
      </div>

      <!-- Paperwork -->
      <div id="paper-body" class="collapse inner-formdiv">
        <div id="upload-buttons" style="padding-top: 15px">
          <span class="btn btn-large btn-warning btn-file">
              <%= label_tag "Upload Vetting" %>
              <%= file_field_tag 'documents[]', multiple: true %>
          </span>

          <span class="btn btn-large btn-primary btn-file">
              <%= label_tag "Upload Vaccinations" %>
              <%= file_field_tag 'documents[]', multiple: true %>
          </span>

          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Upload other forms" %>
              <%= file_field_tag 'documents[]', multiple: true %>
          </span>
        </div>
      </div>

      <!-- Tracking -->
      <div id="tracking-body" class="collapse inner-formdiv">
        <p> Functions for people</p>
      </div>

      <!-- Alerts -->
      <div id="alerts-body" class="collapse inner-formdiv">
          <p> Functions for reminders</p>
      </div>
    
      <!-- Can i move this? -->
      <%= f.submit "Add animal", class: "add-btn btn-primary" %>
    <% end %>
  </div>
</div>




</div>
<script>
  $("#animal_species_id").change(function(){
    console.log($("#animal_breed_id"))
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed_id option:eq(1)").hide();
      $("#animal_breed_id option:eq(0)").show();
    } else {
      $("#animal_breed_id option:eq(0)").hide();
      $("#animal_breed_id option:eq(1)").show();

    }
    console.log("Hey I changed :)")
  });


  $('.datepicker').datepicker({
    endDate: '-0d'
  });
</script>


