<!-- This is the page to add a new animal -->
<h2>Add a new animal</h2>

<div class="parent" style="border:solid #AAB2BA">

<!-- Personal info -->
<div class="personalinfo" style="display:inline-block; width:50%; height:100%; border:solid #AAB2BA">

    
    <div class="form" style="display:inline-block; width:20%">
        <h2>Personal Info</h2>
        <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :species %>
          <%= f.collection_select :species, @species,  :id, :kind, :prompt => "Select Species" %>

          <%= f.label :breed %>
          <%= f.collection_select :breed, @breed, :id, :name, :prompt => "Select Breed" %>
         
          <span class="picture">
            <%= f.label :picture %>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span>
          <%= f.submit "Add animal", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>


<!-- Documents -->
<div class="documents" style="display:inline-block; width:50%; border:solid #AAB2BA">
    <h2>Documents</h2>

</div>



<!-- People -->
<div class="documents" style="display:inline-block; width:50%; border:solid #AAB2BA">
    <h2>People</h2>

</div>


<!-- Reminders -->
<div class="documents" style="display:inline-block; width:50%; border:solid #AAB2BA">
    <h2>Reminder</h2>

</div>

</div>
<script>
  $("#animal_species").change(function(){console.log('changed')})
</script>


