<!-- This is the page to add a new animal -->
<h2>Add a new animal</h2>



<div class="container" style="border:solid #AAB2BA; display:inline-block; padding: 0px;">
  <div class="form" style="display:inline-block; width:100%; padding: 0px;">
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
      

          <!-- Personal info -->
      <div class="personalinfo col-md-6" style=" border:solid #AAB2BA; padding: 20px">
        <h2>Personal Info</h2>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :species_id %>
        <%= f.collection_select :species_id, @species,  :id, :kind, :prompt => "Select Species" %>

        <%= f.label :breed_id %>
        <%= f.collection_select :breed_id, @breed, :id, :name, :prompt => "Select Breed" %>
       
        <span class="picture">
          <%= f.label :picture %>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
        

      </div>
      <!-- Documents -->
      <div class="documents col-md-6" style="border:solid #AAB2BA">
          <h2>Documents</h2>
          <%= f.label :documents %>
          <%= f.file_field :documents %>
      </div>



      <!-- People -->
      <div class="documents col-md-6" style=" border:solid #AAB2BA">
          <h2>People</h2>

      </div>


      <!-- Reminders -->
      <div class="documents col-md-6" style="border:solid #AAB2BA">
          <h2>Reminder</h2>

      </div>
              <%= f.submit "Add animal", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>




</div>
<script>
  $("#animal_species_id").change(function(){
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed option[value='2']").hide();
      $("#animal_breed option[value='1']").show();
    } else {
      $("#animal_breed option[value='1']").hide();
      $("#animal_breed option[value='2']").show();

    }
    console.log("Hey I changed :)")
  });
</script>


