<!-- This is the page to add a new animal -->
<h2 class= "pg-title">Add a new Animal</h2>

<div class= "nav-form-container col-md-12">

  <!-- Nav Bar Content -->
  
  <div class="form-nav col-md-2">
    <!-- Personal info tab -->
    <div class="card form-div personal col-md-12">
      <a class="card-header personal-header" data-toggle="collapse show" href="#personal-body">
        <div style="background: white;">
          <h4>Characteristics</h4>
        </div>
      </a>
    </div>

    <div class= "card form-div personal col-md-12">
      <a class= "card-header paper-header" data-toggle="collapse" href="#paper-body">
        <div>
          <h4>Paperwork</h4>
        </div>
      </a>
    </div>

    <div class="form-div tracking col-md-12">
      <a class= "card-header tracking-header" data-toggle="collapse" href="#tracking-body">
        <div>
          <h4>Tracking</h4>
        </div>
      </a>
    </div>

    <div class="form-div alerts col-md-12">
      <a class= "card-header alert-header" data-toggle="collapse" href="#alerts-body">
        <div>
         <h4>Alerts</h4>
        </div>
      </a>
    </div>

  </div>

  <!-- Inner form Content -->

  <div class="form col-md-10">
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
      
      <!-- Personal Inner Div -->
      <div id ="personal-body" class="collapse show inner-formdiv">
        
        <div class="bsc-chracteristics col-md-6">
          <!--Basic Characteristics Header -->
          <a class= "card-header pers-header" data-toggle="collapse" href="#characteristics-body">
            <div>
              <h4> Basic Chacteristics</h4>
            </div>
          </a>

          <!--Basic Characteristics Body -->
          <div id = "characteristics-body" class="collapse show col-md-12">
            <!-- Profile Picture -->
            <div class="picture col-md-6">
              <%= f.label :picture %>
              <div id="pic-preview" style="padding: 5px">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                <!-- alt="Dog Image"-->
              </div>

              <img id="profilepic" src="#" alt="Dog Image" style="display: none"/>
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file-upload profile-file' %>
            </div>

            <!-- Basic Characteristics -->
            <div class="characteristics-info col-md-6">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :primary_breed_id %>
              <%= f.collection_select :primary_breed_id, @breed, :id, :name, :prompt => "Select Breed" %>

              <%= f.label :secondary_breed_id %>
              <%= f.collection_select :secondary_breed_id, @breed, :id, :name, :prompt => "Select Breed" %>

              <%= f.label :date_of_birth %>
              <%= f.text_field :birthday, class: 'datepicker' %>

              <%= f.label :status %>
              <%= f.select :status, [ 'Intake','Vetting', 'Foster', 'Hold','Adopted'], :prompt => 'Select Status' %>
            </div>
          </div>
        </div>

        <div class = "phy-med-frame col-md-6">
          <div class = "phys-features col-md-12">
            <!-- Physical Features -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#phys-feat">
              <div>
                <h4>Physical Features</h4>
              </div>
            </a>

            <div id="phys-feat" class="collapse col-md-12">
              <%= f.label :gender %>
              <%= f.select :gender, [ 'Male','Female', 'Unknown'], :prompt => 'Select Gender' %>    

              <%= f.label :color_primary %>
              <%= f.text_field :color_primary, class: 'form-control' %>

              <%= f.label :color_secondary %>
              <%= f.text_field :color_secondary, class: 'form-control' %>

              <%= f.label :eye_color %>
              <%= f.text_field :eye_color, class: 'form-control' %>
            </div>
          </div>

          <div class = "med col-md-12">
            <!-- Medical -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#doc-body">
              <div>
                <h4>Medical</h4>
              </div>
            </a>

            <div id="doc-body" class="collapse col-md-12">
              <%= f.label :microchip_number , "Microchip #"%>
              <%= f.text_field :microchip_number, class: 'form-control' %>

              <%= f.label :neutered , "Spayed/Neutered" %>
              <%= f.check_box :neutered, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>


      <!-- Paperwork -->
      <div id="paper-body" class="collapse inner-formdiv">
        <div id="upload-buttons" style="padding-top: 15px">

        <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-warning btn-file">
                <%= label_tag "Vetting Document" %>
                <%= f.file_field :vetting_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-primary btn-file">
                <%= label_tag "Intake Document" %>
                <%= f.file_field :intake_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
         </div>

         <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Owner Surrender" %>
                <%= f.file_field  :owner_surrender_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper" style= "padding-bottom: 15px">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Home Check" %>
              <%= f.file_field  :home_check_document, class: 'file-upload' %>
          </span>
          <span class = "file-name"></span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper" style= "padding-bottom: 15px">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Match Application" %>
              <%= f.file_field  :match_application_document, class: 'file-upload' %>
          </span>
          <span class = "file-name"></span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper" style= "padding-bottom: 15px">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Adoption Application" %>
              <%= f.file_field  :adoption_application_document, class: 'file-upload' %>
          </span>
          <span class = "file-name"></span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>

        <div class = "upload-wrapper">
          <span class="btn btn-large btn-info btn-file">
              <%= label_tag "Adoption Contract" %>
              <%= f.file_field  :adoption_contract_document, class: 'file-upload' %>
          </span>
          <span class = "file-name"></span>
          <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
        </div>
        </div>
      </div>

      <!-- Tracking -->
      <div id="tracking-body" class="collapse inner-formdiv">
        <p> Functions for Stages</p>
      </div>

      <!-- Alerts -->
      <div id="alerts-body" class="collapse inner-formdiv">
          <p> Functions for Alerts</p>
      </div>
    
      <!-- Can i move this? -->
      <%= f.submit "Add animal", class: "add-btn btn-primary" %>
    <% end %>
  </div>
</div>




</div>
<script>
  $("#animal_species_id").change(function(){
    console.log($("#animal_breed_id"))
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed_id option:eq(1)").hide();
      $("#animal_breed_id option:eq(0)").show();
    } else {
      $("#animal_breed_id option:eq(0)").hide();
      $("#animal_breed_id option:eq(1)").show();

    }
    console.log("Hey I changed :)")
  });


  $('.datepicker').datepicker({
    endDate: '-0d'
  });

  $(".profile-file").change(function(input) { 
    input = input.target
    if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilepic')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
                $('#pic-preview').hide()  
                $('#profilepic').show()
            };

            reader.readAsDataURL(input.files[0]);

        }
  });

  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 

  $(".remove-file").on('click', function(){
        var container =  $(this).closest(".upload-wrapper");

        nameSpan = container.find(".file-name");
        nameSpan.text("");

        var removeSpan = container.find(".remove-file");
        removeSpan.hide();

        var inputfield  = container.find(".file-upload");
        inputfield[0].value = "";

  });

</script>


