<!-- This is me rewriting everything -->
<div class="col-xs-12 bg-page">
  <!--===================== ROW1 BASICS(Basics,Notes,Paperwork) =======================-->
  <div class="row">
    <div class="col-xs-12">
      <!--======== BASICS LEFT =======-->
      <div class="profile-summary col-xs-12 col-md-5" id="animal-summary">
        <!--Basics Snippet-->
        <div class="row col-xs-12 col-md-12" id="animal-profile">
          <div class="col-md-5" id="profile-image">
            <%= display_avatar(@animal, "130x130", "circle-img") %>
          </div>
          <div class="col-md-7" id="profile-snippet">
            <!-- Identification -->
            <h4 class="profile-name"><%= @animal.name %></h4>
            <p>Age: <%= @animal.age%></p>
            <p>ID: <%= @animal.id %></p>
            <p>Microchip Number: <%= @animal.microchip_number %> </p> 
            <p>Input Date: <%= @animal.input_date%> <p>

            <!-- Features & Breed stuff -->  
            <% if @animal.date_death != nil %>
              <p>Death: <%= @animal.date_death%></p>
            <% end %>

            <% if @animal.date_adopted != nil %>
              <p>Adopted: <%= @animal.date_adopted%></p>
            <% end %>

            <% if employee?(current_user) %>
              <%= link_to 'Edit', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#basic_#{@animal.id}"  %>
            <% end %>
          </div>
        </div>

        <!--Status-->
        <div class="col-xs-12 profile-div">
          <div class="row profile-header">
            <div class="col-xs-10">
              <a class= "card-header" data-toggle="collapse" href="#animal-status"><h3 class="tab-title">Status</h3></a>
            </div>
            <% if employee?(current_user) %>
              <%= link_to 'Edit', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#status_#{@animal.id}"  %>
            <% end %>
          </div>
          <div class="profile-div" id="animal-status">
            <p> Status: <%= @animal.status.name%> </p>
            <p> Substatus: <%= @sub_status_name%> </p>
            <p> Marketing: <%= @animal.marketing.name%> </p>
            <p> Visibility: <%= @hidden%> </p>
            <p>Vetting Status: <%= @vet_done%> </p>
          </div>
        </div> 

        <!--Physical-->
        <div class="col-xs-12 profile-div">
          <div class="row profile-header">
            <div class="col-xs-10">
              <a class= "card-header" data-toggle="collapse" href="#animal-physical"><h3 class="tab-title">Physical Features and Behavior</h3>
              </a>
            </div>
            <% if employee?(current_user) %>
              <%= link_to 'Edit', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#charac_#{@animal.id}"  %>
            <% end %>
          </div>
          <div class="profile-div" id="animal-physical">
            <!--Breeds-->
            <p>Primary Breed: <%= @animal.primary_breed.name %> </p>
            <p>Additional Breeds</p> 
            <p> 
              <% @breeds.each do |b| %>
                <% if b != @breeds.last %>
                  <%= b.breed.name + "," %> 
                <% else %>
                  <%= b.breed.name  %> 
                <% end %>
              <% end %> 
             </p> 

            <!-- Physical Features & Behavior -->
            <p>Primary Color: <%= @animal.color_primary %> </p>
            <p>Secondary Color: <%= @animal.color_secondary %> </p>

            <p>Behavior:
            <% @behaviors.each do |b| %>
             <% if b != @behaviors.last %>
                <%= b.characteristic.name + "," %> 
              <% else %>
                <%= b.characteristic.name  %> 
              <% end %>
              <% end %> 
            </p>  
          </div>
        </div> 
      </div>

      <!--======== BASICS RIGHT =======-->
      
      <div class="col-xs-12 col-md-7">
        <!--Notes-->
        <div class="col-xs-12 profile-div">
          <div class="row profile-header">
            <div class="col-xs-10">
              <a class= "card-header" data-toggle="collapse" href="#animal-notes"><h3 class="tab-title">Notes</h3>
              </a>
            </div>
            <% if employee?(current_user) %>
              <%= link_to 'Edit', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#notes_#{@animal.id}"  %>
            <% end %>
          </div>
          <div class="profile-div" id="animal-notes">
            <%= simple_format(@animal.notes)%>
          </div>
        </div> 
        <!--Upcoming Events-->
        <div class="col-xs-12 profile-div">
          <div class="row profile-header">
            <div class="col-xs-9">
              <a class= "card-header" data-toggle="collapse" href="#animal-events"><h3 class="tab-title">Upcoming Events</h3>
              </a>
            </div>
             <a href='/alerts/new?method=get&param= <%= @animal.id %> '><button class = "btn btn-default" >Add New Alert</button></a>
          </div>
          <div class="profile-div" id="animal-events">
            <table class="table">
              <thead class="table-head">
                <tr>
                  <th class= "col-md-3">Title</th>
                  <th class= "col-md-3">Date</th>
                  <th class= "col-md-3">Created By</th>
                </tr>
              </thead>
              <tbody>
                <% @alerts.each do |a| %>
                  <tr>
                  <td><a href = "#" class = "alert-event" id = "alert-<%= a['id'] %> "><%= a["title"] %> </a></td>
                  <td><%= a["date"] %></td>
                  <td><%= a["created_by"] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <!--Paperwork-->
        <div class="col-xs-12 profile-div">
          <div class="row profile-header">
            <div class="col-xs-10">
              <a class= "card-header" data-toggle="collapse" href="#animal-paperwork"><h3 class="tab-title">Paperwork</h3>
              </a>
            </div>
            <% if employee?(current_user) %>
                <%= link_to 'Edit', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#paperwork_#{@animal.id}"  %>
            <% end %>
          </div>
          <div class="profile-div" id="animal-paperwork">
            <table class="table">
              <thead class="table-head">
                <tr>
                  <th>Document Type</th>
                  <th>Attached File</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="upload-wrapper">
                  <td>Vetting</td>
                  <td>
                    <% if @animal.vetting_document.length > 0 %>
                    <p><%= link_to @animal.vetting_document.file.filename, @animal.vetting_document.url %> </p>
                    <%else%>
                    <p>None</p>
                    <% end %>
                  </td>
                </tr>
                
                <tr class="upload-wrapper">
                  <td>Intake</td>
                  <td>
                    <% if @animal.intake_document.length > 0 %>
                    <p style><%= link_to @animal.intake_document.file.filename, @animal.intake_document.url %></p>
                    <%else%>
                    <p>None</p>
                    <% end %>
                  </td>
                </tr>
                <tr class="upload-wrapper">
                  <td>Owner Surrender</td>
                  <td>
                    <% if @animal.owner_surrender_document.length > 0 %>
                    <p><%= link_to @animal.owner_surrender_document.file.filename, @animal.owner_surrender_document.url %> </p>
                    <%else%>
                    <p>None</p>                    
                    <% end %>
                  </td>
                </tr>
                <tr class="upload-wrapper">
                  <td>Match Application</td>
                  <td>
                    <% if @animal.match_application_document.length > 0 %>
                    <p><%= link_to @animal.match_application_document.file.filename, @animal.match_application_document.url %> </p>
                    <%else%>
                    <p>None</p>                     
                    <% end %>
                  </td>
                </tr>
                <tr class="upload-wrapper">
                  <td>Adoption Contract</td>
                  <td>
                    <% if @animal.adoption_contract_document.length > 0 %>
                    <p><%= link_to @animal.adoption_contract_document.file.filename, @animal.adoption_contract_document.url %> </p>
                    <%else%>
                    <p>None</p>                     
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>
  </div>


  <!--===================== ROW1 BASICS EDIT MODALS =======================-->
  <div class="alledit-modals">
    <div class="modal entry-modal fade" id = <%= "charac_#{@animal.id}" %> tabindex="-1" role="dialog" aria-labelledby="CharacEditEntryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
              <%= render 'editcharc_edit_modal', modal: true, charc_animal: Animal.find_by(id: @animal.id), animal_id: @animal.id, behavior: @behavior, behaviors: @behaviors, primary: @primary, secondary: @secondary, breed: @breed, breeds: @breeds %>
              <div class="modal-footer">
            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal entry-modal fade" id = <%= "basic_#{@animal.id}" %> tabindex="-1" role="dialog" aria-labelledby="BasicEditEntryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
              <%= render 'editbasicinfo_edit_modal', modal: true, basic_animal: @animal, animal_id: @animal.id, behavior: @behavior, behaviors: @behaviors, primary: @primary, secondary: @secondary, breed: @breed, breeds: @breeds %>
              <div class="modal-footer">
            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal entry-modal fade" id = <%= "status_#{@animal.id}" %> tabindex="-1" role="dialog" aria-labelledby="StatusEditEntryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
              <%= render 'editstatus_edit_modal', modal: true, status_animal: @animal, animal_id: @animal.id, coordinator: @coordinators, status: @status_type, sub_status: @sub_status, marketing: @marketing%>
              <div class="modal-footer">
            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal entry-modal fade" id = <%= "paperwork_#{@animal.id}" %> tabindex="-1" role="dialog" aria-labelledby="PaperEditEntryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
              <%= render 'editpaperwork_edit_modal', modal: true, paperwork_animal: @animal, animal_id: @animal.id%>
              <div class="modal-footer">
            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal entry-modal fade" id = <%= "notes_#{@animal.id}" %> tabindex="-1" role="dialog" aria-labelledby="NotesEditEntryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
              <%= render 'editnotes_edit_modal', modal: true, notes_animal: @animal, animal_id: @animal.id%>
              <div class="modal-footer">
            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===================== ROW2 TRACKING =======================-->
  
  <div class="row">
    <div class="col-xs-12 profile-div">
      <div class="row profile-header">
        <div class="col-xs-10">
          <a class= "card-header" data-toggle="collapse" href="#animal-tracking"><h3 class="tab-title">Tracking</h3>
          </a>
        </div>
      </div>
      <div class="profile-div" id="animal-tracking">
        <p class="inner-title">Current Status: <%=@status_name%></p>
        <div id="timeline">
          <div class="circle" id="all">
            <status>All</status>
          </div>
          <div class="circle" id="intake">
            <status>Intake</status>
          </div>
          <div class="circle" id="vetting">
            <status>Vetting</status>
          </div>
          <div class="circle" id="foster">
            <status>Foster</status>
          </div>
          <div class="circle" id="training">
            <status>Training</status>
          </div>
          <div class="circle" id="adopted">
            <status>Adopter</status>
          </div>
        </div>

        <!--=================== ALL =======================-->  
        <article class='status-info all'>
          <div class="modal entry-modal fade" id="allModal" tabindex="-1" role="dialog" aria-labelledby="allModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="allModalLabel">Add A New Entry</h4>
                </div>
                <div class="modal-body">
                  <p> Form to Add a New Entry </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          
          <div>
            <p class="inner-title" style="margin-left:0px">Complete Animal History</p>
            <table class="table">
              <thead>
                <tr>
                  <th class= "col-md-3">Date</th>
                  <th class= "col-md-3">Status</th>
                  <th class= "col-md-3">Sub Status</th>
                  <th class= "col-md-3">Location</th>
                </tr>
              </thead>
              <tbody>
                <% @intake_stats.each do |a| %>
                  <tr>
                  <td><%= a["date"] %></td>
                  <td><%= a["status"] %></td>
                  <td><%= a["sub_status"] %></td>
                  <td><%= a["location"] %></td>
                  </tr>
                <% end %>

                <% @vet_stats.each do |a| %>
                  <tr>
                  <td><%= a["date"] %></td>
                  <td><%= a["status"] %></td>
                  <td><%= a["sub_status"] %></td>
                  <td><%= a["vet"] %></td>
                  </tr>
                <% end %>

                <% @foster_stats.each do |a| %>
                  <tr>
                  <td><%= a["date"] %></td>
                  <td><%= a["status"] %></td>
                  <td><%= a["sub_status"] %></td>
                  <td><%= a["foster"] %></td>
                  </tr>
                <% end %>

                <% @train_stats.each do |a| %>
                  <tr>
                  <td><%= a["date"] %></td>
                  <td><%= a["status"] %></td>
                  <td><%= a["sub_status"] %></td>
                  <td><%= a["train"] %></td>
                  </tr>
                <% end %>

                <% @adopt_stats.each do |a| %>
                  <tr>
                  <td><%= a["date"] %></td>
                  <td><%= a["status"] %></td>
                  <td><%= a["sub_status"] %></td>
                  <td><%= a["adopt"] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </article>

        <!--=================== INTAKE =======================--> 
        <article class='status-info intake'>
          <%= link_to 'Add New Intake', '#intakeEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>
          <!-- Add New Intake Modal -->
          <div class="modal entry-modal fade" id="intakeEntryModal" tabindex="-1" role="dialog" aria-labelledby="intakeEntryModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Intake Entry</h4>
                </div>
                <div class="modal-body">
                    <%= render 'intakeform_modal', modal: true, new_intake: @new_intake, animal_id: @animal.id%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          
          <p>
            <%if @allIntakes != []%>
              <% @intake_stats.each  do |a| %>
                <div class = "entry-item col-md-7">
                  <div class = "entry-text col-md-9">
                    <p> Date: <%= a["date"]%> </p>
                    <p> Previous Location: <%=a["prev_location"]%> </p>
                    <p> SubStatus: <%=a["sub_status"]%> </p>
                    <p> Comments: <%= a["comm"]%> </p>
                  </div>
                  <div class = "edit-entry col-md-3">
                    <% if employee?(current_user) %>
                    <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#intake_#{a["id"]}"  %>
                  </div>
                </div>

                <!-- Edit Modal -->
                  <div class="modal entry-modal fade" id = <%= "intake_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="intakeEditEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
                        </div>
                        <div class="modal-body">
                            <%= render 'intakeform_edit_modal', modal: true, edit_intake: Intake.find_by(id: a["id"]), animal_id: @animal.id, sub_status: @sub_status, intake_id: a["id"]%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Modal -->
                <% end %>

              <% end %> 
            <% end %> 
          </p>
        </article>

        <!--=================== VETTING =======================-->        
        <article class='status-info vetting'>
          <!-- Add New Vetting Modal -->
          <%= link_to 'Add New Vetting', '#vettingEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>
          <div class="modal entry-modal fade" id="vettingEntryModal" tabindex="-1" role="dialog" aria-labelledby="vettingEntryModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Vetting Entry</h4>
                </div>
                <div class="modal-body">
                    <%= render 'vettingform_modal', modal: true, new_vet: @new_vet, animal_id: @animal.id%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          <p>
            <%if @allVetting != []%>
              <% @vet_stats.each do |a| %>
                <div class = "entry-item col-md-7">
                  <div class = "entry-text col-md-9">
                    <p> Date: <%= a["date"]%> </p>
                    <p> Vet: <%=a["vet"]%> </p>
                    <p> Sub Status: <%=a["sub_status"]%> </p>
                    <p> Comments: <%= a["comm"]%> </p>
                  </div>
                  <div class = "edit-entry col-md-3">
                    <% if employee?(current_user) %>
                    <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#vetting_#{a["id"]}"  %>
                  </div>
                </div>

                <!-- Edit Modal -->
                  <div class="modal entry-modal fade" id = <%= "vetting_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="vettingEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit Vetting Entry</h4>
                        </div>
                        <div class="modal-body">
                            <%= render 'vettingform_edit_modal', modal: true, edit_vet: Vetting.find_by(id: a["id"]), sub_status: @sub_status,animal_id: @animal.id, vet_id: a["id"]%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Modal -->
                <% end %>

              <% end %>
            <% end %>  
          </p>
        </article>

        <!--=================== FOSTER =======================-->  
        <article class='status-info foster'>
          <!-- Add New Foster Modal -->
           <%= link_to 'Add New Foster', '#fosterEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>
          <div class="modal entry-modal fade" id="fosterEntryModal" tabindex="-1" role="dialog" aria-labelledby="fosterEntryModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Foster Entry</h4>
                </div>
                <div class="modal-body">
                    <%= render 'fosterform_modal', modal: true, new_fost: @new_fost, fosters: @fosters, animal_id: @animal.id%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          <p>
            <%if @allFoster != []%>
              <% @foster_stats.each do |a| %>
                <div class = "entry-item col-md-7">
                  <div class = "entry-text col-md-9">
                    <p> Date: <%= a["date"]%> </p>
                    <p> Foster: <%= a["foster"]%> </p>
                    <p> Sub Status: <%=a["sub_status"]%> </p>
                    <p> Comments: <%= a["comm"]%> </p>
                  </div>
                  <div class = "edit-entry col-md-3">
                    <% if employee?(current_user) %>
                    <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#foster_#{a["id"]}"  %>
                  </div>
                </div>            

                <!-- Edit Modal -->
                  <div class="modal entry-modal fade" id = <%= "foster_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="fosterEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit Foster Entry</h4>
                        </div>
                        <div class="modal-body">
                            <%= render 'fosterform_edit_modal', modal: true, edit_fost: FosterStatus.find_by(id: a["id"]), animal_id: @animal.id, fosters: @fosters, curr_foster: a["email"], sub_status: @sub_status, fost_id: a["id"]%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Modal -->
                <% end %>

              <% end %>
            <% end %>                       

          </p>
        </article>

        <!--=================== TRAINING =======================-->  
        <article class='status-info training'>
          <!-- Add New Training Modal -->
          <%= link_to 'Add New Training', '#trainingEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>
          <div class="modal entry-modal fade" id="trainingEntryModal" tabindex="-1" role="dialog" aria-labelledby="trainingEntryModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Training Entry</h4>
                </div>
                <div class="modal-body">
                    <%= render 'trainform_modal', modal: true, new_train: @new_train,animal_id: @animal.id%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          <p>
            <%if @allTraining != []%>
              <% @train_stats.each do |a| %>
                <div class = "entry-item col-md-7">
                  <div class = "entry-text col-md-9">
                    <p> Date: <%= a["date"]%> </p>
                    <p> Trainer: <%=a["train"]%> </p>
                    <p> Sub Status: <%=a["sub_status"]%> </p>
                    <p> Problem Information: <%=a["comm"]%> </p>
                  </div>
                  <div class = "edit-entry col-md-3">
                    <% if employee?(current_user) %>
                    <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#train_#{a["id"]}"  %>
                  </div>
                </div>

                <!-- Edit Modal -->
                  <div class="modal entry-modal fade" id = <%= "train_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="trainingEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit In Training Entry</h4>
                        </div>
                        <div class="modal-body">
                            <%= render 'trainform_edit_modal', modal: true, edit_train: Training.find_by(id: a["id"]), animal_id: @animal.id, sub_status: @sub_status, train_id: a["id"]%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Modal -->
                <% end %>

              <% end %>
            <% end %>  
          </p>
        </article>

        <!--=================== ADOPTED =======================-->  
        <article class='status-info adopted'>
          <!-- Modal Button New Adopted-->
           <%= link_to 'Add New Adopted', '#adoptEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>

           <!-- Begin New Modal -->
          <div class="modal entry-modal fade" id="adoptEntryModal" tabindex="-1" role="dialog" aria-labelledby="adoptEntryModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Adopted Entry</h4>
                </div>
                <div class="modal-body">
                    <%= render 'adoptedform_modal', modal: true, new_adopt: @new_adopt,animal_id: @animal.id, adopters: @adopters%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End New Modal -->
          <p>            
            <%if @allAdopt != []%>
              <% @adopt_stats.each do |a| %>
                <div class = "entry-item col-md-7">
                  <div class = "entry-text col-md-9">
                    <p> Date: <%= a["date"]%> </p>
                    <p> Sub Status: <%= a["sub_status"]%> </p>
                    <p> Adopted By: <%= a["adopt"]%> </p>
                    <p> Comments: <%= a["comm"]%> </p>
                  </div>
                  <div class = "edit-entry col-md-3">
                    <% if employee?(current_user) %>
                    <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#adopted_#{a["id"]}"  %>
                  </div>
                </div>

                <!-- Edit Modal -->
                  <div class="modal entry-modal fade" id = <%= "adopted_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="adoptEntryModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit Adopted Entry</h4>
                        </div>
                        <div class="modal-body">
                            <%= render 'adoptedform_edit_modal', modal: true, edit_adopt: Adopted.find_by(id: a["id"]), animal_id: @animal.id, adopters: @adopters, sub_status: @sub_status, curr_adopter: a["email"], adopt_id: a["id"]%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Modal -->
                <% end %>
              <% end %>
            <% end %>  
        </article>
        <div class= "status-buffer col-md-12" ></div>
      </div>
    </div>
  </div>
  
  <!--===================== ROW3 ADOPTION APPLICATIONS  =======================-->
  <div class="row">
      <div class="col-xs-12 profile-div">
        <div class="row profile-header">
          <div class="col-xs-10">
            <a class= "card-header" data-toggle="collapse" href="#animal-adoption"><h3 class="tab-title">Adoption Applications</h3>
            </a>
          </div>
        </div>
        <div class="profile-div" id="animal-adoption">
          <%= link_to 'Add Adoption Application', '#adopterAppFormEntryModal', class: 'btn btn-default', 'data-toggle' => 'modal' %>
          <!-- NEW ADOPTION-->
          <div class="modal entry-modal fade" id="adopterAppFormEntryModal" tabindex="-1" role="dialog" aria-labelledby="adopterAppFormEntryLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add New Adoption Application</h4>
                </div>
                <div class="modal-body">
                    <%= render 'adopterappform_modal', modal: true, new_app: @new_app,animal_id: @animal.id, adopters: @adopters%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <!-- ADOPTION TABLE -->
          <table id = "user-table" class="table table-bordered table-inverse table-hover user-table">

            <!-- Table Head -->
            <thead class="table-head">
              <tr>
                <th class= "col-md-1">Application Number</th>
                <th class= "col-md-1">Date</th>
                <th class= "col-md-1">Applicant Name</th>
                <th class= "col-md-3">Application File</th>
                <th class= "col-md-3">Comments</th>
                <th class= "col-md-3">Text Application</th>
                <th class= "col-md-3">Edit Entry</th>
              </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
              <%if @allApps != []%>
              <% @app_stats.each_with_index do |a, index| %>
                <tr>
                  <th scope="row"><%= index %></th>
                  <td><%= a["date"]%></td>
                  <td><%= a["adopt"]%></td>
                  <td> 
                    <% if AnimalApplication.find_by(id: a["id"]).adoption_document.length > 0 %>
                      <p style = "text-align: center">Adoption Application: <%= link_to AnimalApplication.find_by(id: a["id"]).adoption_document.file.filename, AnimalApplication.find_by(id: a["id"]).adoption_document.url %> </p>
                    <% end %>
                  </td>

                  <td><%= simple_format(a["comm"])%></td>
                    
                  <td>
                    <%= link_to 'View', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#adoptedtextapp_#{a["id"]}"  %>

                    <!-- Edit Modal -->
                    <div class="modal entry-modal fade" id = <%= "adoptedtextapp_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="adoptedtextappModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Application</h4>
                          </div>
                          <div class="modal-body">
                              <%= render 'adoptertextform_modal', modal: true,text_app: a["text_app"]%>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Modal -->
                  </td>
                  <td class="no-border">
                    <% if employee?(current_user) %>
                      <%= link_to 'Edit Entry', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => "#adoptedapp_#{a["id"]}"%>

                      <!-- Edit Modal -->
                      <div class="modal entry-modal fade" id = <%= "adoptedapp_#{a["id"]}" %> tabindex="-1" role="dialog" aria-labelledby="adopterappModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Edit Application</h4>
                            </div>
                            <div class="modal-body">
                                <%= render 'adopterappform_edit_modal', modal: true, edit_app: AnimalApplication.find_by(id: a["id"]), animal_id: @animal.id, adopters: @adopters, curr_adopter: a["email"], app_id: a["id"]%>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default entry-cancelbtn" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
  </div>

  <!--===================== ROW3 DELETE ANIMAL  =======================-->
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4 col-xs-offset-4">
        <% if admin?(current_user) %>
        <button class="btn-danger delete-btn"><%= link_to("Delete Animal", {id: @animal.id }, {:onclick => "return confirm('Are you sure? This action is not reversable!')", :method => :delete}) %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>  

<script>
var blist = $("#behavior-list").text();
console.log( $("#behavior-list"))
blist = blist.substr(0, (blist.length - 2));
$("#behavior-list").text(blist);

/*========== TRACKING ============ */
//Hide all statuses
$('.status-info').hide();
//Hide and show info based on dot clicked
$('.circle').click(function(){
  var clicked = $(this).attr('id');
  $(this).addClass('unSelected');
  $('#' + clicked + '.circle').removeClass('unSelected');
  //shade current and clear others
  if (!$('.circle').hasClass('unSelected')) {
      $('.circle').css('background-color', '#e1e1e1');
      $('#' + clicked + '.circle').css('background-color',  '#2980b9');
  }
  $('.status-info').hide();
  $('.status-info.' + clicked).fadeIn(200);
});

$(document).on("ready", function(){
  bindAlertsModal();
})

$('.submit-btn').on('click', function(e){
        if (!validateForm($(this).closest(".modal-body")[0]))
            e.preventDefault()
        
})
</script>