<h1><%= @animal.name%> Profile </h1>

<% if employee?(current_user) %>
<%= link_to "<div class = 'col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8'> <button>Edit profile</button></div>".html_safe,  :controller => "animals", :action => "edit", :param => @animal, :method => "get" %>
<% end %>




<!-- Inner form Content -->
  <div class="form col-md-12">
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>
      
      <!-- Personal Inner Div -->
      <div id ="personal-body" class="collapse show inner-formdiv">
        
        <div class="bsc-chracteristics col-md-6">
          <!--Basic Characteristics Header -->
          <a class= "card-header pers-header" data-toggle="collapse show" href="#characteristics-body">
            <div>
              <h4> Basic Chacteristics</h4>
            </div>
          </a>

           <!--Basic Characteristics Body -->
          <div id = "characteristics-body" class="collapse show col-md-12">
            <!-- Profile Picture -->
            <div class="picture col-md-6">
            	<%= display_avatar(@animal, "150x200") %>
            </div>

            <!-- Basic Characteristics -->
            <div class="characteristics-info col-md-6">
              <h4>Name</h4>
              <%= @animal.name %>
              <p> Microchip Number: <%= @animal.microchip_number %> </p> 
              <h4>Primary Breed</h4>
              <%= @animal.primary_breed.name %>

              <!-- Breeds -->
              <h4>Additional Breeds</h4> 
              <p> 
                <% @breeds.each do |b| %>
                  <% if b != @breeds.last %>
                    <%= b.breed.name + "," %> 
                  <% else %>
                    <%= b.breed.name  %> 
                  <% end %>
                <% end %> 
               </p> 

              <!-- Status Info -->
              <p> Current Status: <%= @animal.status.name%> </p>
              <p> Current Substatus: <%= @animal.sub_status.name%> </p>
              <p> Marketing: <%= @animal.marketing.name%> </p>

            </div>
          </div>
        </div>

        <div class = "phy-med-frame col-md-6">
          <div class = "phys-features col-md-12">
            <!-- Physical Features -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#phys-feat">
              <div>
                <h4>Physical Features</h4>
              </div>
            </a>

            <div id="phys-feat" class="collapse col-md-12">
              <p> Primary Color: <%= @animal.color_primary %> </p>
              <p> Secondary Color: <%= @animal.color_secondary %> </p>
            </div>
          </div>

          <div class = "med col-md-12">
            <!-- Personality -->
            <a class= "card-header doc-header" data-toggle="collapse" href="#char-body">
              <div>
                <h4>Personality</h4>
              </div>
            </a>

            <div id="char-body" class="collapse col-md-12">
              <h4>Behavior</h4> 
              <p id = "behavior-list"> 
               <% @behaviors.each do |b| %>
                 <% if b != @behaviors.last %>
                    <%= b.characteristic.name + "," %> 
                  <% else %>
                    <%= b.characteristic.name  %> 
                  <% end %>
                  <% end %> 

               </p>   
       

            </div>
          </div>


        </div>
      </div>

    <div class= "card form-div personal col-md-12">
      <a class= "card-header paper-header" data-toggle="collapse" href="#paper-body">
        <div>
          <h4>Paperwork</h4>
        </div>
      </a>
      </div>

      <!-- Paperwork -->
      <div id="paper-body" class="collapse inner-formdiv">
        <% if @animal.vetting_document.length > 0 %>
          <p style = "text-align: center">Vetting Document: <%= link_to @animal.vetting_document.file.filename, @animal.vetting_document.url %> </p>
          <% end %>
          <% if @animal.owner_surrender_document.length > 0 %>
          <p style = "text-align: center">Owner Surrender: <%= link_to @animal.owner_surrender_document.file.filename, @animal.owner_surrender_document.url %> </p>
          <% end %>
          <% if @animal.intake_document.length > 0 %>
          <p style = "text-align: center">Intake: <%= link_to @animal.intake_document.file.filename, @animal.intake_document.url %> </p>
          <% end %>
          <% if @animal.home_check_document.length > 0 %>
          <p style = "text-align: center">Home Check: <%= link_to @animal.home_check_document.file.filename, @animal.home_check_document.url %> </p>
          <% end %>
          <% if @animal.match_application_document.length > 0 %>
          <p style = "text-align: center">Match Application: <%= link_to @animal.match_application_document.file.filename, @animal.match_application_document.url %> </p>
          <% end %>
          <% if @animal.adoption_application_document.length > 0 %>
          <p style = "text-align: center">Adoption Application: <%= link_to @animal.adoption_application_document.file.filename, @animal.adoption_application_document.url %> </p>
          <% end %>
          <% if @animal.adoption_contract_document.length > 0 %>
          <p style = "text-align: center">Adoption Contract: <%= link_to @animal.adoption_contract_document.file.filename, @animal.adoption_contract_document.url %> </p>
          <% end %>
      </div>

      <div class= "card form-div personal col-md-12">
      <a class= "card-header tracking-header" data-toggle="collapse" href="#tracking-body">
        <div>
          <h4>Tracking</h4>
        </div>
      </a>
      </div>

      <!-- Tracking -->
      <div id="tracking-body" class="collapse inner-formdiv">
        <table class='table' id='intake_table'>
            <thead>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Sub Status</th>
                <th>Location</th>

              </tr>
            </thead>
            <tbody>
              <tbody>
              <% @intake_stats.each do |intake| %>
                <tr>
                <%= render partial: 'table_row', locals: {intake: intake} %>
                </tr>
              <% end %>
            </tbody>
          </table>
        
      </div>

      <div class= "card form-div alerts col-md-12">
        <a class= "card-header alert-header" data-toggle="collapse" href="#alerts-body">
          <div>
            <h4>Alerts</h4>
          </div>
        </a>
      </div>

      <!-- Alerts -->
      <div id="alerts-body" class="collapse inner-formdiv">
          <table>
            <thead>
              <tr>
                <th class= "col-md-3">Title</th>
                <th class= "col-md-3">Date</th>
                <th class= "col-md-3">Created By</th>
              </tr>
            </thead>
            <tbody>
              <% @alerts.each do |a| %>
                <tr>
                <td><a href = "#" class = "alert-event" id = "alert-<%= a['id'] %> "><%= a["title"] %> </a></td>
                <td><%= a["date"] %></td>
                <td><%= a["created_by"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <a href='/alerts/new?method=get&param=' + <%= @animal.id %> + ><button class = "button" >Add New Alert</button></a>
      </div>
    
      <!-- Can i move this? -->
    <% end %>
  </div>
</div>

    
<script>
var blist = $("#behavior-list").text();
console.log( $("#behavior-list"))
blist = blist.substr(0, (blist.length - 2));
$("#behavior-list").text(blist);

 
/*========== TRACKING ============ */
//Hide all statuses
$('.status-info').hide();
//Hide and show info based on dot clicked
$('.circle').click(function(){
  var clicked = $(this).attr('id');
  $(this).addClass('unSelected');
  $('#' + clicked + '.circle').removeClass('unSelected');
  //shade current and clear others
  if (!$('.circle').hasClass('unSelected')) {
      $('.circle').css('background-color', '#e1e1e1');
      $('#' + clicked + '.circle').css('background-color',  '#2980b9');
  }
  $('.status-info').hide();
  $('.status-info.' + clicked).fadeIn(200);
});

$(document).on("ready", function(){
  bindAlertsModal();
})
bindAlertsModal();




</script>


