<h1>Profile Page</h1>

<% if employee?(current_user) %>
<div class = 'col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8'> <button>Edit dog profile</button></div>
<% end %>


<div class="container" style="border:solid #AAB2BA; display:inline-block; padding: 0px;">
	<div class="form" style="display:inline-block; width:100%; padding: 0px;">

	    <div class="personalinfo col-md-6 col-sm-12 col-xs-12" style=" border:solid #AAB2BA; padding: 20px">
			<%= display_avatar(@animal, "100x100") %>
			<h3>Name</h3>
			<%= @animal.name %>
			<h3>Species</h3>
			<%= @animal.species.kind %>
			<h3>Breed</h3>
			<%= @animal.breed.name %>
		</div>


      	<!-- Documents -->
		<div class="documents col-md-6 col-sm-12 col-xs-12" style="border:solid #AAB2BA">
		  <h2>Documents </h2>

		  	 <% @documents.each do |d| %>

		  	 <p style = "text-align: center"><%= link_to d.document.file.filename, d.document.url %> </p>
		  	 <% end %>
		</div>

		<!-- People -->
		<div class="people col-md-6 col-sm-12 col-xs-12" style=" border:solid #AAB2BA">
		  <h2>People</h2>
		</div>

		<!-- Reminders -->
		<div class="reminders col-md-6  col-sm-12 col-xs-12" style="border:solid #AAB2BA">
		  <h2>Reminders</h2>

</div>
	</div>	
</div>
