<% provide(:title, 'Edit Animal Facility') %>
<h1>Editing <%= @ani_faci.name%></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@ani_faci, html: { multipart: true },  url: animal_facility_path(@ani_faci)) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

       <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <%= f.submit "Save Animal Facility Edit", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
