<% provide(:title, 'Animal Facility') %>
<h1><%= @ani_faci.name%>
    <% if admin?(current_user)%>
 <%= link_to ' <span class ="glyphicon glyphicon-pencil" style = "cursor: pointer; font-size:25px;"></span>'.html_safe,  :controller => "animal_facility", :action => "edit", :param => @ani_faci, :method => "get" %>
 <%end %>
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

        	<p> Name: <%= @ani_faci.name%> </p>
        	<p> Email: <%=@ani_faci.email%> </p>
        	<p> Address: <%=@full_address%> </p>
            <p> Phone Number: <%=@ani_faci.phone_number%> </p>


    </div>
</div>
