 <% provide(:title, 'Alert') %>
<h1>Editing Alert</h1>
<style>
.select-item{
  border:solid;
  border-width: 1px;
  padding:3px;
  border-radius:5px;

  margin:4px;

}
.remove-item{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@alert, html: { multipart: true },  url: alerts_path(@alert)) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control required' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :date %>
      <%= f.text_field :date, class: 'datepicker required' %>

      <%= f.label :type%>
      <%= f.collection_select(:alert_type_id, @types, :id, :name, {:prompt => "Select type"}, {class: "required"})%>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>


      <%= label :post, "Assignees" %>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Assignee
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% @users.each do |b| %>
                  <li  class = "assignee-dd-item" id = "assignee-dd-<%= b.id %>"><a href="#" class= "assignee-dd-item" value = '<%= b.id %>'> <%= b.name %></a>  </li> 
                  <% end %>
                </ul>
              </div>             
              <div id = "assignee-list">
        <% @assigneesSelected.each do |b| %>
        <div id = 'assignee-<%= b.id %>'   class = 'select-item assignee-item' style = 'position: relative; display: inline-block;'>
          <p style = 'margin:0px; padding-right:15px'> <%= b.name %> </p> 
          <span class = 'glyphicon glyphicon-remove remove-item remove-assignee' style='margin:2px; float:right;'></span>
        </div>

        <% end %>
      </div>

      <%= text_field_tag 'assignees', "", class: "hidden-assignee", style: "display:none;"  %>

      <!-- sdfasdfasdf -->

      <%= label :post, "Animals" %>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Animals
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% @animals.each do |b| %>
            <li  class = "animal-dd-item" id = "animal-dd-<%= b.id %>"><a href="#" class= "animal-dd-item" value = '<%= b.id %>'> <%= b.name %></a>  </li> 
            <% end %>
          </ul>
        </div>  
         <div id = "animal-list">
        <% @animalsSelected.each do |b| %>
        <div id = 'animal-<%= b.id %>'   class = 'select-item animal-item' style = 'position: relative; display: inline-block;'>
          <p style = 'margin:0px; padding-right:15px'> <%= b.name %> </p> 
          <span class = 'glyphicon glyphicon-remove remove-item remove-animal' style='margin:2px; float:right;'></span>
        </div>

        <% end %>
      </div>

      <%= text_field_tag 'animals', "", class: "hidden-animal", style: "display:none;"  %>




      <%= f.submit "Create Alert", :onclick => "return validateform();", class: "btn btn-primary" %>
      <button  class= "btn btn-danger alert-delete" id= "delete-<%= @alert.id.to_s %> " > Delete Alert </button>
    <% end %>
    </div>
</div>




</div> <!-- If this is not there there is a line across the screen. Not sure why - J -->
<script>


  $('.datepicker').datetimepicker({
    //endDate: '+5y',
    format:'YYYY/MM/DD hh:mm A',
    
  });



$(".assignee-selecter").on("change", function(){
    var text = $(".assignee-selecter option:selected").text();
    var val = $(".assignee-selecter option:selected").val();
    if(text == "Select Assignee"){
      return
    }
    html = $("#assignee-list").html();
    html += "<div id = 'assignee-" + val + "'' class = 'assignee-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-assignee remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#assignee-list").html(html);
    $(".remove-assignee").on("click", function(){
      $(this).closest(".assignee-item").detach()
      setHiddenAssignee();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenAssignee();
  })
   $(".assignee-dd-item").on("click", function(e){
    
    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Assignee"){
      return
    }
    html = $("#assignee-list").html();
    html += "<div id = 'assignee-" + val + "'' class = 'assignee-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-assignee remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#assignee-list").html(html);
    $(".remove-assignee").on("click", function(){
      $(this).closest(".assignee-item").detach()
      setHiddenAssignee();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenAssignee();
  })
  function setHiddenAssignee(){
    str = ""
    $(".assignee-dd-item").show();
    $(".assignee-item").each(function(){
      var id = this.id.split("-")[1]
      $("#assignee-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-assignee").val(str)
  }

  $(".remove-assignee").on("click", function(){
      $(this).closest(".assignee-item").detach()
      setHiddenAssignee();
  })





  setHiddenAssignee();
  

$(".animal-dd-item").on("click", function(e){

    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Animal"){
      return
    }
    html = $("#animal-list").html();
    html += "<div id = 'animal-" + val + "'' class = 'animal-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-animal remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#animal-list").html(html);
    $(".remove-animal").on("click", function(){
      $(this).closest(".animal-item").detach()
      setHiddenAnimal();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenAnimal();
  })

   function setHiddenAnimal(){
    str = ""
    $(".animal-dd-item").show();

    $(".animal-item").each(function(){
      var id = this.id.split("-")[1]
      $("#animal-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-animal").val(str)
  }

  setHiddenAnimal();
  $(".remove-animal").on("click", function(){
      $(this).closest(".animal-item").detach()
      setHiddenAnimal();
  })
$(".alert-delete").on("click", function(event){
  event.preventDefault()
  $.ajax({
    type: "DELETE",
    url: "/alerts",
    data: "param=" + $(this).attr("id").split("-")[1],
    success: function(msg){
        window.location = "<%= session[:prev_url] %>"
    },
    error: function(e){
      alert("unable to delete alert")

    }
  });
});

</script>