<% provide(:title, "Alerts") %>
<style>
.modal-div{
  margin:10px;
}
</style>
<h1>Alerts</h1>
 <%= link_to "<button>Add Alert</button>".html_safe,  :controller => "alerts", :action => "new", :method => "get" %>
 <ul class="nav nav-tabs">
    <li class="active"><a href="#calendar" data-toggle="tab">Calendar</a></li>
    <li><a href="#list" data-toggle="tab">List</a></li>
    <li><a href="#created" data-toggle="tab">Created</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="calendar">

        <%= month_calendar events: @alerts do |date, alerts| %>
        <%= date.day%>

        <% alerts.each do |alert| %>
          <div>
            <a href = "#" class = "alert-event" id = "alert-<%= alert.id %> "><%= alert.title %> </a>
          </div>
        <% end %>


      <% end %>
    </div>




    <div class="tab-pane" id="list">

      <table id = "alert-table" class="table table-bordered table-inverse table-hover people-table">
        <thead>
          <tr>
            <th class= "col-md-1">#</th>
            <th class= "col-md-1">Title</th>
            <th class= "col-md-3">Date</th>
            <th class= "col-md-3">Created By</th>
          </tr>
        </thead>
        <tbody>
      <% @alerts.each_with_index do |a, index| %>
         <tr style = "height: 70px;" >
            <th scope="row"><%= index %></th>
            <td>
             <a href = "#" class = "alert-event" id = "alert-<%= a.id %> "><%= a.title %> </a>

              </td>

            <td> 
                <%= date_format(a.date) %> 
           </td> 
            <td> <%= a.created_by.name%> </td> 
          </tr> 
       

      <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="created">

      <table id = "alert-table" class="table table-bordered table-inverse table-hover people-table">
        <thead>
          <tr>
            <th class= "col-md-1">#</th>
            <th class= "col-md-1">Title</th>
            <th class= "col-md-3">Date</th>
            <th class= "col-md-3">Created By</th>
          </tr>
        </thead>
        <tbody>
      <% @createdAlerts.each_with_index do |a, index| %>
         <tr style = "height: 70px;" >
            <th scope="row"><%= index %></th>
            <td>
             <a href = "#" class = "alert-event" id = "alert-<%= a.id %> "><%= a.title %> </a>

              </td>

            <td> 
                <%= date_format(a.date) %> 
           </td>
            <td> <%= a.created_by.name%> </td>
          </tr>
       

      <% end %>
        </tbody>
      </table>
    </div>
    
</div>
    <!-- 
    loops over each person in @allPeople (defined in the people controller)
    puts all of that in at plain html with values from the person in the for-each loop
    -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style = "display: inline-block; margin-right: 5px" class="modal-title"></h4><span class = "modal-edit"></span>
      </div>

      
      <div class="modal-body">
          <div class = "modal-div">
             <span class="modal-created-by"></span>
          </div>

          <div class = "modal-div">
           <span class="modal-assignees"></span>
          </div>

          <div class = "modal-div">
           <span class="modal-animals"></span>
          </div>

          <div class = "modal-div">
            <span class="modal-date"></span>
          </div>

          <div class = "modal-div">
            <span class="modal-location"></span>
          </div>

          <div class = "modal-div">
            
            <div class = "modal-description"> </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
$("#people-table tr").hover(
  function(){
    $(this).find(".glyphicon-pencil").show()
  },
  function(){
    $(this).find(".glyphicon-pencil").hide()
  }
)
$(".alert-event").on("click", function(){
  event.preventDefault()
  var id = $(this).attr('id').split("-")[1]
  
  //do the ajax call then update findings

   $.ajax({
    url: "/alerts/query",
    data: {"id": id},
    success: function(result){

        $(".modal-title").text(result["title"])
        $(".modal-created-by").html("Created by: " + generateUsers(result["created_by"]))

        if(result["date"] != null){
          $(".modal-date").text("date: " + result["date"])
        }

        if(result["description"] != null){
          $(".modal-description").html("Description: <br>" + result["description"])
        }

        if(result["location"] != null){
          $(".modal-location").text("Location: " + result["location"])
        }

        if(result["animals"].length > 0){
           $(".modal-animals").html("Animals: " + generateAnimals(result["animals"]))
        }
        if(result["users"].length > 0){
          $(".modal-assignees").html("Assignees: " + generateUsers(result["users"]))
        }
        checkEditable(result["user_id"], result["created_by"][0].id, result["id"])

        $('#myModal').modal('toggle');
    },
    error: function(){
      console.log("failed")
    }
  });
   console.log("ajax called")
  
})
function generateAnimals(arr){
  str = ""
  for (i in arr){
    var id = arr[i].id;
    var name = arr[i].name;
    str = str + "<span><a href='/animals/profile?method=get&param=" + id + "'>" + name + "</a></span>";
    if(i != arr.length -1){
      str = str + ", ";
    }
    else{
      str = str + " ";
    }
  }
  return str;
}
function generateUsers(arr){
  str = ""
  for (i in arr){
    var id = arr[i].id;
    var name = arr[i].name;
    str = str + "<span><a href='/people/profile?method=get&param=" + id + "'>" + name + "</a></span>";
    if(i != arr.length -1){
      str = str + ", ";
    }
    else{
      str = str + " ";
    }
  }
  return str;
}
function checkEditable(userID, createdID, alertID){ 
  if(userID == createdID){
    str = "<a href='/alerts/edit?method=get&param=" + alertID + "'><span class = 'glyphicon glyphicon-pencil'></span></a>"
    $(".modal-edit").html(str)
  }
  else{
    $(".modal-edit").html("")
  }
}
</script>

