<!-- Inner form Content  Profile page-->
<div class= "col-xs-12 pg-outer">
  <h2 class= "pg-title" style="text-align: center">Add New Animal</h2>
  <div class="form col-md-12">
    <!-- Begin animal form -->
    <%= form_for(@animal, url: animals_path(@animal))  do |f| %>


    <!--===================== BASIC CHARACTERISTICS =======================-->
    
  


    <div class="form-body">
      <!--Basic Characteristics Body -->
      <div id = "characteristics-body" title = "Characteristics" class="inner-formdiv form-page">
        
        <!-- Profile Picture -->
        <div class="picture">
          <%= f.label :picture %>
          <div id="pic-preview" style="padding: 5px">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            <!-- alt="Dog Image"-->
          </div>

          <img id="profilepic" src="#" alt="Dog Image" style="display: none"/>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file-upload profile-file' %>
        </div>

        <!-- Characteristics Info -->
        <div class="characteristics-info col-md-9">


          <div class= "basics-inner col-md-5">
            <!-- Physical Features -->
            

            <div id="basics-body">
              <!-- Basics -->
              
              <%= f.label :name %>
              <%= f.text_field :name, class: 'required form-control' %>

              <%= f.label :date_of_birth %>
              <%= f.text_field :birthday, class: 'form-control datepicker required' %>

              <%= f.label :gender %>
              <%= f.select :gender, [ 'Male','Female'], {:prompt => 'Select Gender'}, class: "form-control" %>   

              <%= f.label :primary_breed_id, "Primary Breed" %>
              <%= f.collection_select(:primary_breed_id, @primary, :id, :name, {:prompt => "Select Breed"}, {class:"form-control required"} ) %>

               <%= label :post, "Additional Breeds" %>
              <%= collection_select(:breed_id, 0, @secondary, :id, :name, {:prompt => "Select Breed"}, {class: "form-control breed-selecter"}) %>              
              <div id = "breeds-list"></div>
              <%= text_field_tag 'breeds', "", class: "hidden-breeds", style: "display:none;"  %>

              <%= f.label :color_primary %>
              <%= f.text_field :color_primary, class: 'form-control' %>

              <%= f.label :color_secondary %>
              <%= f.text_field :color_secondary, class: 'form-control' %> 

              <%= label :post, "behavior" %>
              
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Behavior
                <span class="caret"></span></button>
                
                <ul class="dropdown-menu">
                  <% @behavior.each do |b| %>
                  <li  class = "behavior-dd-item" id = "behavior-dd-<%= b.id %>"><a href="#" class= "behavior-dd-item" value = '<%= b.id %>'> <%= b.name %></a>  </li> 
                  <% end %>
                </ul>
              </div>
              <div id = "behavior-list"></div>
              <%= text_field_tag 'behavior', "", class: "hidden-behavior", style: "display:none;"  %>
              <br>
            </div>

          </div>
          

         
        </div>

      </div>

      
      <!--===================== PAPERWORK =======================-->

      <!-- Paperwork Body -->
      <div id="paper-body" title="Paperwork" class="inner-formdiv form-page" >
        
        <div id="upload-buttons" style="padding-top: 15px">
          <div class = "upload-wrapper" style= "padding-bottom: 15px">
              <span class="btn btn-large btn-info btn-file">
                  <%= label_tag "Vetting Document" %>
                  <%= f.file_field :vetting_document, class: 'file-upload' %>
              </span>
              <span class = "file-name"></span>
              <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>

          <div class = "upload-wrapper" style= "padding-bottom: 15px">
              <span class="btn btn-large btn-info btn-file">
                  <%= label_tag "Intake Document" %>
                  <%= f.file_field :intake_document, class: 'file-upload' %>
              </span>
              <span class = "file-name"></span>
              <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
           </div>

           <div class = "upload-wrapper" style= "padding-bottom: 15px">
              <span class="btn btn-large btn-info btn-file">
                  <%= label_tag "Owner Surrender" %>
                  <%= f.file_field  :owner_surrender_document, class: 'file-upload' %>
              </span>
              <span class = "file-name"></span>
              <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>

          <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Home Check" %>
                <%= f.file_field  :home_check_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>

          <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Match Application" %>
                <%= f.file_field  :match_application_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>

          <div class = "upload-wrapper" style= "padding-bottom: 15px">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Adoption Application" %>
                <%= f.file_field  :adoption_application_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>

          <div class = "upload-wrapper">
            <span class="btn btn-large btn-info btn-file">
                <%= label_tag "Adoption Contract" %>
                <%= f.file_field  :adoption_contract_document, class: 'file-upload' %>
            </span>
            <span class = "file-name"></span>
            <span class = "glyphicon glyphicon-remove remove-file" style = "display:none"></span>
          </div>
        </div>
      </div>


      <!--===================== TRACKING =======================-->
      

      <!-- Tracking Body -->
      <div id="tracking-body" title="Tracking" class="inner-formdiv form-page">

        <!-- BEGIN TRACKING TAB DIV -->
        <div id="status-div" class="tracking-innerDiv col-md-8">

          <!-- Information for Statuses in Tabs-->
          <div class="status-tabsInner tab-content">
            <!-- INTAKE -->
              <!-- Selecting Date-->
              <%= f.label :intake_date, "Intake Date" %>
              <%= text_field_tag 'intake_dt', "" ,class: 'form-control datepicker' %>
              
              <%= f.label :intake_sub, "Sub Status"%>
              <%= collection_select(:intake_sub, :sub_status_id,  SubStatusType.all, :id, :name, {:prompt => "Select Sub Status"}, class:'form-control',) %>
              
              <!-- Selecting Prev Location-->
              <%= f.label :intake_loc, "Previous Location"%>
              <%= collection_select(:intake_loc, :intake_reason_id, IntakeReason.all, :id, :name, {:prompt => "Select Previous Location"}, class:'form-control',) %>

              <!-- Selecting Previous Location-->
              <%= f.label :intake_prev, "Animal Facility"%>
              <%= collection_select(:intake_prev, :animal_facility_id, AnimalFacility.all, :id, :name, {:prompt => "Select Animal Facility"},class:'form-control',) %>

              <!-- Inputing Details-->
              <%= f.label :intake_comm, "Details" %>
              <%= text_field_tag 'intake_cm', "", class: 'form-control' %>

          </div>
        </div> 
        <!-- END TRACKING TAB DIV -->
      </div>

      <!--===================== NOTES =======================-->

      <!-- Notes Body -->
      <div id="notes-body" title ="Notes" class="inner-formdiv form-page">
            <!-- Inputing Details-->
        <%= f.label :notes, "Type any notes below" %>
        <%= f.text_area(:notes, cols: 40, rows: 15)%>
      </div>

  </div>

   <%= f.submit "Add Animal", class: "add-btn btn-primary submit submit-btn" %>
    <% end %>
  </div>

</div>


<!-- End Html -->
    
<script>
  TabbedForm($(".form-body"));



  $("#animal_species_id").change(function(){
    console.log($("#animal_breed_id"))
    if ($("#animal_species_id").val() == 1) {
      $("#animal_breed_id option:eq(1)").hide();
      $("#animal_breed_id option:eq(0)").show();
    } else {
      $("#animal_breed_id option:eq(0)").hide();
      $("#animal_breed_id option:eq(1)").show();

    }
    console.log("Hey I changed :)")
  });

  $('.submit-btn').on('click', function(e){
        if (!validateForm($(this).closest("form")[0]))
            e.preventDefault()
   })

  $('.datepicker').datetimepicker({
    //endDate: '+5y',
    format:'YYYY/MM/DD',
    
  });

  $(".profile-file").change(function(input) { 
    input = input.target
    if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilepic')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
                $('#pic-preview').hide()  
                $('#profilepic').show()
            };

            reader.readAsDataURL(input.files[0]);

        }
  });

  $(".file-upload").change(function(input) { 
    var input = input.target;
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var container =  $(this).closest(".upload-wrapper");
        var nameSpan = container.find(".file-name");
        nameSpan.text(fileName);
        var removeSpan = container.find(".remove-file");
        removeSpan.show();
        }
  }); 

  $(".remove-file").on('click', function(){
        var container =  $(this).closest(".upload-wrapper");

        nameSpan = container.find(".file-name");
        nameSpan.text("");

        var removeSpan = container.find(".remove-file");
        removeSpan.hide();

        var inputfield  = container.find(".file-upload");
        inputfield[0].value = "";

  });
  $(".breed-selecter").on("change", function(e){

    var text = $(".breed-selecter option:selected").text();
    var val = $(".breed-selecter option:selected").val();
    if(text == "Select Breed"){
      return
    }
    html = $("#breeds-list").html();
    html += "<div id = 'breed-" + val + "'' class = 'breed-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-breed remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#breeds-list").html(html);
    $(".remove-breed").on("click", function(){
      $(this).closest(".breed-item").detach()
      setHiddenBreeds();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenBreeds();
  })
  function setHiddenBreeds(){
    str = ""
    $(".breed-item").each(function(){
      var id = this.id.split("-")[1]
      str += id + "|"
    })
    $(".hidden-breeds").val(str)
  }




  $(".behavior-dd-item").on("click", function(e){

    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Behavior"){
      return
    }
    html = $("#behavior-list").html();
    html += "<div id = 'behavior-" + val + "'' class = 'behavior-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-behavior remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#behavior-list").html(html);
    $(".remove-behavior").on("click", function(){
      $(this).closest(".behavior-item").detach()
      setHiddenBehavior();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenBehavior();
  })
  function setHiddenBehavior(){

    str = ""
    $(".behavior-dd-item").show();

    $(".behavior-item").each(function(){
      var id = this.id.split("-")[1]
      $("#behavior-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-behavior").val(str)
  }

  

</script>

