<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <div style="padding-left: 20px"> <%= link_to "Dashboard", root_path, id: "logo" %> </div>
            <!-- Top Menu Items -->
          <ul class="nav navbar-left top-nav">
                <li style = "display: inline-block; width: 200px; white-space: nowrap;">
                <span class = 'glyphicon glyphicon-search navbar-text' style = "display: inline-block; font-size: 24px; margin-right:5px" ></span>

                <input style = " width: 100%; vertical-align: middle; margin-top:15px" placeholder="Search" class ="search" /> 
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
             <% if logged_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">

                    <li> <%= link_to "Profile",  :controller => "people", :action => "profile", :param => current_user, :method => "get" %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
              
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <%= link_to "Animals",    animals_path %>
                    </li>
                    <li>
                      <%= link_to "People",   people_path %>
                    </li>
                    <li>
                        <a href="charts.html"><i class="glyphicon glyphicon-bell"></i> Alerts</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="glyphicon glyphicon-list-alt"></i> Forms</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </nav>
<!--       <div style = "position:fixed" class = "search-result col-md-4 col-md-offset-4">  
    </div> -->
</header>

<!--     <nav>
      <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">


        <ul class="nav navbar-nav navbar-left">
           <li><%= link_to "Animals",    animals_path %></li>
          <li><%= link_to "People",   people_path %></li>
          <li style = "display: inline-block; width: 200px; white-space: nowrap;">
            <span class = 'glyphicon glyphicon-search navbar-text' style = "display: inline-block; font-size: 24px; margin-right:5px" ></span> 

            <input style = " width: 100%; vertical-align: middle; margin-top:15px" placeholder="Search" class ="search" /> 
          </li>
          <li></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
         <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                <li> <%= link_to "Profile",  :controller => "people", :action => "profile", :param => current_user, :method => "get" %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
          
        </ul>
      </div>
    </div>
    </nav> -->


<script>
$(".search").on( "keyup",function(input){
  var value = $(this).val()
  //do the ajax call then update findings
   $.ajax({
    url: "/animals/search",
    data: {q: value},
    success: function(result){
        var str = " "
        str += "<table class='table search-list'>" 

        for (x in result){
                str += "<tr> \
                <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                <td> <a href='/animals/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                 <td>" + result[x].primary + "</td>\
                 <td>" + result[x].secondary + "</td>\
                </tr>"

        }

        str +=  " </table>"
         $(".search-result").each(function(){
            $(this).html( str)
         })

    }});
   $(".search").on( "blur", function(target){

       $(".search-result").each(function(){
            $(this).html( '')
         })
   } )
})
function link(e){
  $(e.target).trigger("click")
 
  window.location.href = $(e.target).attr("href"); 
}
</script>
