<header class="navbar navbar-fixed-top navbar-inverse">
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="padding-left: 20px"> <%= link_to "Dashboard", root_path, id: "logo" %> </div>
            </div>
       <!--    <div class="collapse navbar-collapse" id="myNavbar"> -->
          <!-- Top Menu Items -->
          <ul class="nav navbar-left top-nav">
                <li style = "display: inline-block; width: 200px; white-space: nowrap;">
                <span class = 'glyphicon glyphicon-search navbar-text' style = "display: inline-block; font-size: 24px; margin-right:5px" ></span>

                <input style = " width: 100%; vertical-align: middle; margin-top:15px" placeholder="Search" class ="search" /> 
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
             <% if logged_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">

                    <li> <%= link_to "Profile",  :controller => "people", :action => "profile", :param => current_user, :method => "get" %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                      <%= link_to "Dashboard", root_path %> 
                    </li>
                    <li>
                      <%= link_to "Animals",   animals_path %>
                    </li>
                    <li>
                      <%= link_to "People",   people_path %>
                    </li>
                    <li>
                      <%= link_to "Upcoming Events",   alerts_path %>
                    </li>
                </ul>
              </div>
            <!-- /.navbar-collapse -->
        </nav>
     </div>
    <div style = "position:fixed" class = "search-result col-md-4 col-md-offset-4">  
    </div>
</header>

<script>
$(".search").on( "keyup",function(input){
  var value = $(this).val()
  //do the ajax call then update findings
   $.ajax({
    url: "/animals/search",
    data: {q: value},
    success: function(result){
        var str = " "
        str += "<table class='table search-list'>" 

        for (x in result){
                if (result[x].check == "animal") {
                  str += "<tr> \
                  <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                  <td> <a href='/animals/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                   <td>" + result[x].attribute + "</td>\
                  </tr>"
                }
                if (result[x].check == "user") {
                  str += "<tr> \
                    <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                    <td> <a href='/people/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                     <td>" + result[x].attribute + "</td>\
                    </tr>"
                }
        }
        str +=  " </table>"
         $(".search-result").each(function(){
            $(this).html( str)
         })

    }});
   $(".search").on( "blur", function(target){

       $(".search-result").each(function(){
            $(this).html( '')
         })
   } )
})

function link(e) {
  $(e.target).trigger("click")
 
  window.location.href = $(e.target).attr("href"); 
}
</script>
