<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
          </button>
        <div class="brand">
        <%= link_to image_tag("https://s3.amazonaws.com/releashatlanta/uploads/ReleashImages/images/17690116_10213324689658581_1634804572_n.png"), root_path %></div>
        </div>
        <ul class="nav navbar-form navbar-left">
            <li style = "display: inline-block; width: 200px; white-space: nowrap;">
            <input class= "form-control" style = "width: 100%; vertical-align: middle; margin-top:15px" placeholder="Search..." class ="search" /> 
            <button type="button" class="btn btn-primary">Go</button>
        </ul>
          <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
            <% if logged_in? %>

            <li class="dropdown"> 
              <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" style="padding-top: 60px;">
                  Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><i class="lnr lnr-user"></i><%= link_to "Profile",  :controller => "people", :action => "profile", :param => current_user, :method => "get" %></li>
                <li><i class="lnr lnr-cog"></i><%= link_to "Settings", '#' %></li>
                
                <li class="divider"></li>
                <li><i class="lnr lnr-exit"></i><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
                </li>
                <% else %>
                  <li><%= link_to "Log in", login_path %></li>
                <% end %>
              </ul>
          </nav>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
      <div class="sidebar-scroll">
        <nav>
          <ul class="nav">
            <li>
              <%= link_to "Dashboard", root_path %>
            </li>
            <li>
              <%= link_to "Animals",   animals_path %> 
            </li>
            <li>
              <%= link_to "People",   people_path %>
            </li>
            <li>
              <%= link_to "Upcoming Events",   alerts_path %>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    <!-- END LEFT SIDEBAR -->
  </div>

<script>
$(".search").on( "keyup",function(input){
  var value = $(this).val()
  //do the ajax call then update findings
   $.ajax({
    url: "/animals/search",
    data: {q: value},
    success: function(result){
        var str = " "
        str += "<table class='table search-list'>" 
        for (x in result){
                if (result[x].check == "animal") {
                  str += "<tr> \
                  <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                  <td> <a href='/animals/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                   <td>" + result[x].attribute + "</td>\
                  </tr>"
                }
                if (result[x].check == "user") {
                  str += "<tr> \
                    <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                    <td> <a href='/people/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                     <td>" + result[x].attribute + "</td>\
                    </tr>"
                }
        }
        str +=  " </table>"
         $(".search-result").each(function(){
            $(this).html( str)
         })
    }});
   $(".search").on( "blur", function(target){
       $(".search-result").each(function(){
            $(this).html( '')
         })
   } )
})
function link(e) {
  $(e.target).trigger("click")
 
  window.location.href = $(e.target).attr("href"); 
}
</script>