<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  </head>

  <body <%= yield(:body_attributes) %>>

    <div id="wrapper">
      <%= render 'layouts/header' %>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="container" style = "width:100%">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/alerts' %>
    <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>


  </body>
</html>

               