<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  </head>

  <body <%= yield(:body_attributes) %>>

      <div class="container col-md-12">
        
        <div class="row">
          <div class="container col-md-2 col-sm-2 col-xs-2" id="side-nav">
              <h1> ShelterBook </h1>
              <ul class="sidebar-nav">
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/animals">Animals</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/alerts">Upcoming Events</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          </div>
         
          <div class="container col-md-10 col-sm-10 col-xs-10 content-body">
            <div class="row">
              <div class="col-md-12" id="top-nav">
                <%#= render 'layouts/header' %>
                <p> Top Nav </p>
              </div>
            </div>

            <!-- body page render -->
            <div id="page-render">
              <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
              <% end %>
              <%= yield %>
            <div>
          </div>
        </div>

        <div class="row">
          <div id="footer">
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>

    <%= render 'layouts/alerts' %>


  </body>
</html>

               